{% extends "got/base_generic.html" %}

{% block head %}Sistemas{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div id="mapid" style="height: 550px;"></div>
    <button type="submit">Guardar</button>
</form>

<script>
    var mymap = L.map('mapid').setView([51.505, -0.09], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap'
    }).addTo(mymap);

    var marker;

    mymap.on('click', function(e) {
        var coord = e.latlng;
        var lat = coord.lat.toFixed(7); // Redondea a 7 decimales
        var lng = coord.lng.toFixed(7); // Redondea a 7 decimales
        if (marker) {
            mymap.removeLayer(marker);
        }
        marker = L.marker(coord).addTo(mymap);
        document.getElementById('id_latitude').value = lat;
        document.getElementById('id_longitude').value = lng;
    });
</script>


{% endblock %}