{% extends "got/base_generic.html" %}

{% block head %}
<a href="{% url 'got:asset-list' %}"><i class="bi bi-arrow-90deg-left"></i></a>
{{ asset.name }}
{% endblock %}

{% block content %}
    <div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th>Supervisor: </th>
                <td>{{asset.supervisor.first_name}} {{asset.supervisor.last_name}}</td>
            </tr>
            <tr>
                <th>Departamento: </th>
                <td>{{asset.get_area_display}}</td>
            </tr>
            {% if asset.area == 'a' %}
            <tr>
                <th>bandera: </th>
                <td>{{asset.bandera}}</td>
            </tr>
            <tr>
                <th>Eslora: </th>
                <td>{{asset.eslora}} m</td>
            </tr>
            <tr>
                <th>Manga: </th>
                <td>{{asset.manga}}  m</td>
            </tr>
            <tr>
                <th>Puntal: </th>
                <td>{{asset.puntal}} m</td>
            </tr>
            <tr>
                <th>Calado maximo: </th>
                <td>{{asset.calado_maximo}}</td>
            </tr>
            <tr>
                <th>Deadweight: </th>
                <td>{{asset.deadweight}}</td>
            </tr>
            <tr>
                <th>Arqueo bruto: </th>
                <td>{{asset.arqueo_bruto}}</td>
            </tr>
            <tr>
                <th>Arqueo neto: </th>
                <td>{{asset.arqueo_neto}}</td>
            </tr>
            <tr>
                <th>Espacio libre sobre cubierta: </th>
                <td>{{asset.espacio_libre_cubierta}} m2</td>
            </tr>
            {% endif %}
            
        </tbody>
    </table>
    </div>



    <div class="container">
        <button type="button" class="btn btn-primary space" data-bs-toggle="modal" data-bs-target="#sysModal">
            Crear nuevo sistema
        </button>
        {% if asset.system_set.all %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Grupo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Ubicación</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>           
                {% for sys in asset.system_set.all %}
                    <tr>
                        <th scope="row">{{sys.gruop}}</th>
                        <td><a href="{{ sys.get_absolute_url }}">{{sys.name}}</a></td>
                        <td>{{ sys.location }}</td>
                        <td>{{ sys.get_state_display }}</td>
                        <td>
                            <a class="" href="{% url 'got:sys-update' sys.id %}"><i class="bi bi-pen"></i></a>
                        </td>
                        <td>
                        <a class="" href="{% url 'got:sys-delete' sys.id %}"><i class="bi bi-file-earmark-minus-fill"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% else %}
        <p>No hay sistemas registrados.</p>
        {% endif %}
    </div>

    <div class="modal fade" id="sysModal" tabindex="-1" aria-labelledby="sysModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="sysModalLabel">Crear nuevo sistema</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                  {{ sys_form.as_table }}
                </table>
                <button type="submit" class="btn btn-primary">Agregar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock %}