<!-- asset_pdf_template.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Informe de Activo {{ asset.name }}</title>
    <style>
        body { font-family: Arial, sans-serif; font-size: 14px; }
        h1, h2, h3 { color: #333366; }
        th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; }
    </style>
</head>
<body>
    <div>
        <table style="width: 100%; border-collapse: collapse;">
            <tr>
                <td style="width: 200px; border: 1px solid black; height: auto;">
                    <img src="https://hivik.s3.us-east-2.amazonaws.com/static/Logo.png" style="width: 200px; height: auto;">
                </td>
                <td style="border: 1px solid black;">
                    <table style="width: 100%; border-collapse: collapse;">
                        <tr>
                            <td colspan="3" style="text-align: center; padding-top: 10px; margin-bottom: 0;">
                                <h1 style="margin: 0; font-size: 20px;">Informe de Activo: {{ asset.name }}</h1>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 5px; border-top: 1px solid black; border-right: 1px solid black; text-align: center;">
                                <h4>CODIGO: FR-SP-MT-97</h4>
                            </td>
                            <td style="padding-top: 5px; border-top: 1px solid black;border-right: 1px solid black; text-align: center;">
                                <h4>VERSION 004</h4>
                            </td>
                            <td style="padding-top: 5px; border-top: 1px solid black; text-align: center;">
                                <h4>FECHA DE ACTUALIZACION: 27/01/2023</h4>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>     

{% for system_info in systems_with_rutas %}
    <h2>{{ system_info.system.name }}</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Frecuencia</th>
                <th>Control</th>
                <th>Última Intervención</th>
                <th>Próxima Intervención</th>
                <th>Número OT</th>
            </tr>
        </thead>
        <tbody>
            {% for ruta_data in system_info.rutas_data %}
            <tr>
                <td>{{ ruta_data.ruta.name }}</td>
                <td>{{ ruta_data.ruta.frecuency }}</td>
                <td>{{ ruta_data.ruta.get_control_display }}</td>
                <td>{{ ruta_data.ruta.intervention_date }}</td>
                <td>{{ ruta_data.ruta.next_date }}</td>
                <td>{{ ruta_data.ot_num }}</td>
            </tr>
            <!-- Detalle de actividades para la ruta -->
            {% for task in ruta_data.tasks %}
                <tr>
                    <td colspan="6">
                        <strong>Actividad:</strong> {{ task.description }}<br>
                        <strong>HSE:</strong> {{ task.hse }}<br>
                        <strong>Procedimiento:</strong> {{ task.procedimiento }}
                    </td>
                </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endfor %}


</body>
</html>
