{% extends "got/base/base_detail.html" %}
{% load my_tags %}

{% block header %}{% endblock %}

{% block content %}

<main class="main-asset">
    <div class="title-asset">
        <!-- {% if perms.got.view_asset %}
            <a href="{% url 'got:asset-list' %}"><i class="bi bi-arrow-90deg-left"></i></a>
        {% endif %} -->
        <h1>{{ asset.name }}</h1>

        <ul class="nav justify-content-end">
            <li class="nav-item">
              <form action="{% url 'got:generate_asset_pdf' asset.abbreviation %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="nav-link">Plan de mantenimiento</button>
            </form>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'got:ot-create' asset.abbreviation %}">Nueva orden de trabajo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if not rotativos %}disabled{% endif %}" href="{% url 'got:horas-asset' asset.abbreviation %}">
                    Reporte de horas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'got:failure-report-create' asset.abbreviation %}">Reportar falla</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'got:schedule' asset.abbreviation %}">Cronograma</a>
            </li>
        </ul>
    </div>
   
    <div class="info-asset"> 
        <table class="table-info">
            <thead>
                {% if asset.imagen %}
                    <tr>
                        <img src="{{ asset.imagen.url }}" style="max-width: 450px;">
                    </tr>
                {% endif %}
                <tr>
                    <th colspan="2" class="text-center">Información general</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Supervisor</th>
                    <td>{{asset.supervisor.first_name}} {{asset.supervisor.last_name}}</td>
                </tr>
                <tr>
                    <th>Area</th>
                    <td>{{asset.get_area_display}}</td>
                </tr>
                {% if asset.area == 'a' %}
                    <tr>
                        <th colspan="2" class="text-center">Información especifica</th>
                    </tr>
                    <tr>
                        <th>bandera</th>
                        <td>{{asset.bandera}}</td>
                    </tr>
                    <tr>
                        <th>Eslora</th>
                        <td>{{asset.eslora}} m</td>
                    </tr>
                    <tr>
                        <th>Manga</th>
                        <td>{{asset.manga}}  m</td>
                    </tr>
                    <tr>
                        <th>Puntal</th>
                        <td>{{asset.puntal}} m</td>
                    </tr>
                    <tr>
                        <th>Calado maximo</th>
                        <td>{{asset.calado_maximo}}</td>
                    </tr>
                    <tr>
                        <th>Deadweight</th>
                        <td>{{asset.deadweight}}</td>
                    </tr>
                    <tr>
                        <th>Arqueo bruto</th>
                        <td>{{asset.arqueo_bruto}}</td>
                    </tr>
                    <tr>
                        <th>Arqueo neto</th>
                        <td>{{asset.arqueo_neto}}</td>
                    </tr>
                    <tr>
                        <th>Espacio libre sobre cubierta</th>
                        <td>{{asset.espacio_libre_cubierta}} m2</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

    <div class="sistemas">
        
        {% if asset.system_set.all %}
            <table class="table-info">
                <thead>
                    <tr>
                        <th colspan="{% if asset.area == 'a' %}4{% else %}5{% endif %}">
                            Sistemas
                            <button type="button" class="btn btn-sm" style="background-color: transparent; color: #43C6AC;" data-bs-toggle="modal" data-bs-target="#sysModal">
                                <i class="bi bi-plus-circle-fill"></i>
                            </button>
                        </th>
                    </tr>
                    <tr>
                        <th scope="col">Grupo</th>
                        <th scope="col">Nombre</th>
                        {% if not asset.area == 'a' %}
                            <th scope="col">Ubicación</th>
                        {% endif %}
                        <th scope="col">Estado</th>
                        <th scope="col">Mantenimiento</th>
                        <!-- {% if perms.got.change_system %}
                            <th scope="col">Acciones</th>
                        {% endif %} -->
                    </tr>
                </thead>
                <tbody>           
                    {% for sys in page_obj %}
                        <tr>
                            <th data-cell="Grupo" scope="row">{{sys.group}}</th>
                            <td data-cell="Sistema"><a href="{{ sys.get_absolute_url }}">{{sys.name}}</a></td>
                            {% if not asset.area == 'a' %}
                                <td data-cell="Ubicación">{{ sys.location }}</td>
                            {% endif %}
                            <td data-cell="Estado">{{ sys.get_state_display }}</td>
                            <td data-cell="Mantenimiento">{% if sys.maintenance_percentage %}{{ sys.maintenance_percentage }}%{% endif %}</td>
                            <!-- {% if perms.got.change_system %}
                                <td data-cell="Acciones">
                                    <a class="" href="{% url 'got:sys-update' sys.id %}"><i class="bi bi-pen"></i></a>
                                    <a class="" href="{% url 'got:sys-delete' sys.id %}"><i class="bi bi-file-earmark-minus-fill"></i></a>
                                </td>
                            {% endif %} -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        
            {% if page_obj.has_other_pages %}
                <nav>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Anterior</a>
                            </li>
                        {% endif %}
                    
                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item active"><a href="#" class="page-link">{{ num }}</a></li>
                            {% else %}
                                <li class="page-item"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}
                    
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a href="?page={{ page_obj.next_page_number }}" class="page-link">Siguiente</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}

        {% else %}
            <p>No hay sistemas registrados.</p>
        {% endif %}
    </div>
<!-- 4362654 -->
	<div class="rutinas">
		<table class="table-info">
			<thead>
                <tr>
                    <th colspan="7">Rutinas de mantenimiento - {{ mes }}</th>
                </tr>
				<tr>
					<th scope="col">Equipo</th>
					<th scope="col">Codigo</th>
					<th scope="col">Frecuencia</th>
					<th scope="col">Control</th>
					<th scope="col">Fecha de ultima intervención</th>
					<th scope="col">Fecha proxima intervención</th>
					<th scope="col">Ultima Orden de trabajo</th>
				</tr>
			</thead>
        	<tbody>
		    	{% for ruta in page_obj_rutas %}
					<tr class="{% if ruta.maintenance_status == 'c' %}table-success{%elif ruta.maintenance_status == 'p' %}table-warning{%elif ruta.maintenance_status == 'e' %}table-secondary{% else %}table-danger{% endif %}">
					    <th scope="row">{{ ruta.system.equipo.name }}</th>
					    <th scope="row">{{ ruta.name }}</th>
					    <td>{{ ruta.frecuency }}</td>
					    <td>{{ ruta.get_control_display }}</td>
					    <td>{% if ruta.ot %}{{ ruta.intervention_date|date:"d/m/Y" }}{% else %}---{% endif %}</td>
						<td>{% if ruta.ot %}{{ ruta.next_date|date:"d/m/Y" }}{% else %}---{% endif %}</td>
					    <td><a href="{{  ruta.ot.get_absolute_url }}"><i class="bi bi-pen">OT - {{ ruta.ot.num_ot }}</i></a></td>
				    </tr>
                {% empty %}
                    <tr>
                        <td>No hay rutinas registradas.</td>
                    </tr>    
                {% endfor %}
			</tbody>
		</table>

        <nav aria-label="Page navigation for rutas">
            <ul class="pagination">
                {% if page_obj_rutas.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page_rutas={{ page_obj_rutas.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                                
                {% for num in page_obj_rutas.paginator.page_range %}
                    <li class="page-item {% if page_obj_rutas.number == num %}active{% endif %}">
                        <a class="page-link" href="?page_rutas={{ num }}">{{ num }}</a>
                    </li>
                {% endfor %}
                                
                {% if page_obj_rutas.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page_rutas={{ page_obj_rutas.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
	</div>
</main>

<div class="modal fade" id="sysModal" tabindex="-1" aria-labelledby="sysModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sysModalLabel">Crear nuevo sistema</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                    <table>
                        {{ sys_form.as_table }}
                    </table>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}