{% extends "got/base_generic.html" %}
{% load my_tags %}

{% block head %}

Listado de equipos
{% if request.GET.area %}
{% if request.GET.area == 'a' %}
- Barcos
{% elif request.GET.area == 'b' %}
- Buceo
{% elif request.GET.area == 'o' %}
- Oceanografía
{% elif request.GET.area == 'l' %}
- Locativo
{% elif request.GET.area == 'v' %}
- Vehiculos
{% elif request.GET.area == 'x' %}
- Apoyo
{% endif %}
{% endif %}

{% endblock %}

{% block content %}
{% if not request.user|has_group:"buzos_members" %}
<section class="mt-5">
    <!-- Enlace sin filtros -->
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Filtrar por area
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'got:asset-list' %}">Mostrar todos</a></li>
            <li><a class="dropdown-item" href="{% url 'got:asset-list' %}?area=a">Barcos</a></li>
            <li><a class="dropdown-item" href="{% url 'got:asset-list' %}?area=b">Buceo</a></li>
            <li><a class="dropdown-item" href="{% url 'got:asset-list' %}?area=o">Oceanografia</a></li>
            <li><a class="dropdown-item" href="{% url 'got:asset-list' %}?area=l">Locativo</a></li>
            <li><a class="dropdown-item" href="{% url 'got:asset-list' %}?area=v">Vehiculos</a></li>
            <li><a class="dropdown-item" href="{% url 'got:asset-list' %}?area=x">Apoyo</a></li>
        </ul>
    </div>
</section>
{% endif %}

<table class="table mi-tabla-borde-externo mt-2">
    <thead class="table-info">
    	<tr>
        	<th scope="col" style="border-bottom: 1px solid #333;">Nombre</th>
        	<th scope="col" style="border-bottom: 1px solid #333;">Supervisor</th>
        	<th scope="col" style="border-bottom: 1px solid #333;">Área</th>
      	</tr>
    </thead>
    <tbody>
        {% if asset_list %}
            {% for asset in asset_list %}
				<tr>
					<td><a href="{{ asset.get_absolute_url }}">{{asset.name}}</a></td>
					<td>{{asset.supervisor.first_name}} {{asset.supervisor.last_name}}</td>
					<td>{{asset.get_area_display}}</td>
				</tr>
            {% endfor %}
        {% else %}
        	<p>No hay equipos registrados.</p>
        {% endif %}
    </tbody>
</table>

{% endblock %}