{% extends "got/base_generic.html" %}

{% block head %}Equipos{% endblock %}

{% block content %}

<table class="table">
    <thead>
    	<tr>
        	<th scope="col">Nombre</th>
        	<th scope="col">Supervisor</th>
        	<th scope="col">Ubicación</th>
        	<th scope="col">Estado</th>
      	</tr>
    </thead>
    <tbody>
        {% if asset_list %}
            {% for asset in asset_list %}
				<tr>
					<td><a href="{{ asset.get_absolute_url }}">{{asset.name}}</a></td>
					<td>{{asset.supervisor.first_name}} {{asset.supervisor.last_name}}</td>
					<td>{{asset.location}}</td>
					<td>{{asset.get_state_display}}</td>
				</tr>
            {% endfor %}
        {% else %}
        	<p>No hay equipos registrados.</p>
        {% endif %}
    </tbody>
</table>

{% endblock %}