{% extends "got/base_generic.html" %}
{% load my_tags %}

{% block header %}
	Actividades {% if selected_asset_name %}- {{ selected_asset_name }}{% endif %}{% if worker %}/{{ worker }}{% endif %}
{% endblock %}

{% block content %}

<section class="mt-5">
	<!-------------------------------------------- Filtro de actividades -------------------------------------------------->
	{% if not request.user|has_group:"buzos_members" %}
		{% if not request.user|has_group:"maq_members" %}
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					Filtrar por equipo
				</button>
				<!-- Lista de assets para filtrar -->
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="{% url 'got:my-tasks' %}">Mostrar todos</a></li>
					{% for a in asset %}
						<li><a class="dropdown-item" href="{% url 'got:my-tasks' %}?asset_id={{ a.id }}{% if worker_id %}&worker={{ worker_id }}{% endif %}">{{ a.name }}</a></li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		{% if not request.user|has_group:"serport_members" %}
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					Filtrar por taller
				</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="{% url 'got:my-tasks' %}">Mostrar todos</a></li>
					{% for u in serport_members %}
						<li>
							<a class="dropdown-item" href="{% url 'got:my-tasks' %}?{% if asset_id %}asset_id={{ asset_id }}&{% endif %}worker={{ u.id }}">
								{{ u.first_name }} {{ u.last_name }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	{% endif %}
	<!--------------------------------------------------------------------------------------------------------------------->
</section>

<section class="mt-2">
	<!-------------------------------------------- Actividades ------------------------------------------------------------>
	<table class="table mi-tabla-borde-externo mt-0">
		<thead class="table-secondary">
			<tr>
				<th scope="col" style="vertical-align: middle; border-bottom: 1px solid #333;">#OT</th>
				<th scope="col" style="vertical-align: middle; border-bottom: 1px solid #333;">Sistema</th>
				<th scope="col" style="vertical-align: middle; border-bottom: 1px solid #333;">Descripción</th>
				<th scope="col" style="vertical-align: middle; border-bottom: 1px solid #333;">Responsable</th>
				<th scope="col" style="vertical-align: middle; border-bottom: 1px solid #333;">Fecha de Inicio</th>
				<th scope="col" style="vertical-align: middle; border-bottom: 1px solid #333;">Fecha de finalización</th>
				{% if perms.got.can_reschedule_task %}
					<th scope="col" style="vertical-align: middle; border-bottom: 1px solid #333;">
						Reprogramar
					</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>

			{% if task_list %}
			
				{% for act in task_list %}
					<tr>
						<td><strong>{{act.ot.num_ot}}</strong></td>
						<td class="{% if act.is_overdue %}text-danger{% endif %}"><strong>{{act.ot.system.asset}}</strong>/{{act.ot.system.name}}</td>
						<td><a href="{% url 'got:finish-task' act.id %}">{{act.description}}</a></td>
						<td>{{act.responsible.first_name}} {{act.responsible.last_name}}</td>
						<td>{{act.start_date|date:"d/m/Y"}}</td>
						<td class="{% if act.is_overdue %}text-danger{% endif %}">{{act.final_date|date:"d/m/Y"}}</td>
						
						{% if perms.got.can_reschedule_task %}
							<td style="text-align: center;">
								{% if act.is_overdue %}
									<a href="{% url 'got:reschedule-task' act.id %}">
										<i class="bi bi-calendar-x"></i>
									</a>
								{% endif %}
							</td>
						{% endif %}
					</tr>
				{% endfor %}
				
			{% else %}
				<p>No hay actividades pendientes.</p>
			{% endif %}
			
		</tbody>
	</table>
</section>

{% endblock %}