{% extends "got/base_generic.html" %}
{% load my_tags %}


{% block header %}
	Actividades pendientes {% if selected_asset_name %} - {{ selected_asset_name }}{% endif %}{% if worker %}/{{ worker }}{% endif %}
{% endblock %}

{% block content %}

<aside>
	<!-------------------------------------------- Filtro de actividades -------------------------------------------------->
	{% if not request.user|has_group:"buzos_members" %}
		{% if not request.user|has_group:"maq_members" %}
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					Filtrar por equipo
				</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="{% url 'got:my-tasks' %}">Mostrar todos</a></li>
					{% for asset in assets %}
						<li><a class="dropdown-item" href="{% url 'got:my-tasks' %}?asset_id={{ asset.abbreviation }}{% if worker_id %}&worker={{ worker_id }}{% endif %}">{{ asset.name }}</a></li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		{% if not request.user|has_group:"serport_members" %}
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					Filtrar por taller
				</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="{% url 'got:my-tasks' %}">Mostrar todos</a></li>
					{% for u in serport_members %}
						<li>
							<a class="dropdown-item" href="{% url 'got:my-tasks' %}?{% if asset_id %}asset_id={{ asset_id }}&{% endif %}worker={{ u.id }}">
								{{ u.first_name }} {{ u.last_name }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	{% endif %}
	<!--------------------------------------------------------------------------------------------------------------------->
</aside>

<section class="table-responsive">
	<table class="table-content">
		<thead class="table-secondary">
			<tr>
				<th scope="col">OT-#</th>
				<th scope="col">Sistema</th>
				<th scope="col">Descripción</th>
				<th scope="col">Responsable</th>
				<th scope="col">Tiempo de ejecución</th>
				<th scope="col">Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% if task_list %}
				{% for act in task_list %}
					<tr data-href="{% url 'got:finish-task' act.id %}">
						<td data-cell="Orden de trabajo"  class="nowrap"><strong>OT-{{act.ot.num_ot}}</strong></td>
						<td data-cell="Sistema">{{act.ot.system.asset}}/ {{act.ot.system.name}}</td>
						<td data-cell="Descripción" >{{act.description}}</td>
						<td data-cell="Responsable">{{act.responsible.first_name}} {{act.responsible.last_name}}</td>
						<td data-cell="Tiempo de ejecución">{{act.start_date|date:"d/m/Y"}}-{{act.final_date|date:"d/m/Y"}}</td>
						<td data-cell="Estado">

							<div class="dropdown">
								<button class="btn status {% if act.is_overdue %}close{% else %}pending{% endif %} btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
									{% if act.is_overdue %}Retrasado{% else %}En progreso{% endif %}
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<li><a class="dropdown-item" href="{{ act.get_absolute_url }}">Ver detalle</a></li>
									<li><a class="dropdown-item" href="{% url 'got:finish-task' act.id %}">Finalizar</a></li>
									{% if perms.got.can_reschedule_task %}
										<li><a class="dropdown-item" href="{% url 'got:reschedule-task' act.id %}">Reprogramar</a></li>
									{% endif %}
								</ul>
							</div>
						</td>
					</tr>
				{% endfor %}
				
			{% else %}
				<p>No hay actividades pendientes.</p>
			{% endif %}
			
		</tbody>
	</table>
</section>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const rows = document.querySelectorAll("tr[data-href]");

		rows.forEach(row => {
			row.addEventListener("click", (event) => {
				if (!event.target.matches('.dropdown, .dropdown *, .dropdown-toggle, .dropdown-menu, .dropdown-item')) {
					window.location.href = row.dataset.href;
				}
			});
    	});
	});
</script>

{% endblock %}