{% extends "got/base_generic.html" %}
{% load my_tags %}

{% block header %}Bitacora de Actividades{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Descripción</th>
            <th>Tipo de Mantenimiento</th>
            <th>Intervino</th>
        </tr>
    </thead>
    <tbody>
        {% for item in combined_items %}
        <tr {% if item|is_instance_of:"System.history.first"|default_if_none:"False" and item.history_change_reason %}class="table-success"{% endif %}>
            <td>
                {% if item|is_instance_of:"HistoricalSystem" %}
                {{ item.history_date|date:"Y-m-d" }}
                {% else %}
                {{ item.creation_date|date:"Y-m-d" }}
                {% endif %}
            </td>
            <td>
                {% if item|is_instance_of:"HistoricalSystem" %}
                Traslado de "{{ item.old_location }}" a "{{ item.location }}"
                {% else %}
                {{ item.description }}
                {% endif %}
            </td>
            <td>
                {% if item|is_instance_of:"HistoricalSystem" %}
                Modificativo
                {% else %}
                {{ item.get_tipo_mtto_display }}
                {% endif %}
            </td>
            <td>
                {% if item|is_instance_of:"HistoricalSystem" %}
                {{ item.history_user }}
                {% else %}
                {{ item.super.first_name }} {{ item.super.last_name }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

