{% extends "got/base_generic.html" %}

{% block content %}


<section class="mt-5">
    <!-- Boton de filtrar activos por area -->
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Filtrar por area
            </button>
            <!-- Opciones -->
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'got:ruta-list' %}">Mostrar todos</a></li>
                <li><a class="dropdown-item" href="{% url 'got:ruta-list' %}?location=Cartagena">Cartagena</a></li>
                <li><a class="dropdown-item" href="{% url 'got:ruta-list' %}?location=Santa Marta">Santa Marta</a></li>
                <li><a class="dropdown-item" href="{% url 'got:ruta-list' %}?location=Guyana">Guyana</a></li>
            </ul>
        </div>
</section>


<div>
	<table class="mt-5" style="width: 80%; margin: auto;">
		<caption>
			Control mantenimiento equipos de buceo
		</caption>
		<tr>
			<th>Equipos</th>
			<th>Mensual</th>
			<th>Trimestral</th>
			<th>Semestral</th>
			<th>Anual</th>
			<th>Bianual</th>
			<th rowspan="{{ buceo_rowspan }}" style="vertical-align: middle; text-align: center; font-size: 1.25em;">
				{{ ind_mtto }} %
			</th>
		</tr>
		{% for asset in buceo %}
			<tr>
				<td data-cell="Equipo">{{asset.asset}}</td>
				<td>
					<span {% if asset.mensual == "Requiere" %} class="badge text-bg-danger" {% elif asset.mensual == "Ok" %} class="badge text-bg-success" {% endif %}>
						{{ asset.mensual }}
					</span>
				</td>
				<td>
					<span {% if asset.trimestral == "Requiere" %} class="badge text-bg-danger" {% elif asset.trimestral == "Ok" %} class="badge text-bg-success" {% endif %}>
						{{ asset.trimestral }}
					</span>
				</td>
				<td>
					<span {% if asset.semestral == "Requiere" %} class="badge text-bg-danger" {% elif asset.semestral == "Ok" %} class="badge text-bg-success" {% endif %}>
						{{ asset.semestral }}
					</span>
				</td>
				<td>
					<span {% if asset.anual == "Requiere" %} class="badge text-bg-danger" {% elif asset.anual == "Ok" %} class="badge text-bg-success" {% endif %}>
						{{ asset.anual }}
					</span>
				</td>
				<td>
					<span {% if asset.bianual == "Requiere" %} class="badge text-bg-danger" {% elif asset.bianual == "Ok" %} class="badge text-bg-success" {% endif %}>
						{{ asset.bianual }}
					</span>
				</td>
			</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}