<!-- got/templates/got/create_salida.html -->

{% extends "got/base_generic.html" %}

{% block content %}
<h2>Crear Salida de Materiales</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ salida_form.as_p }}

    <h3>Ítems</h3>
    {{ item_formset.management_form }}
    {% for form in item_formset %}
        {{ form.as_p }}
        {% if form.instance.pk %}
            <label for="{{ form.prefix }}-DELETE">Eliminar</label>
            {{ form.DELETE }}
        {% endif %}
        <hr>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Guardar Salida</button>
</form>
{% endblock %}
