
<!-- Incluir CSS de Bootstrap -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Incluir jQuery y JavaScript de Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>



<div class="container">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="card-title">
                Datasheet
                {% if perms.got.add_equipo %}
					<a href="{% url 'got:equipo-delete' equipo.code %}" style="color: white;"><i class="bi bi-file-earmark-minus-fill"></i></a>
					<a href="{% url 'got:equipo-update' equipo.code %}" style="color: white;"><i class="bi bi-pen"></i></a>
				{% endif %}
            </h4>
            <span class="header-right-text">{{ equipo.date_inv|date:"d M, Y" }}</span>
        </div>
        <div class="card-body row">
            <div class="col-md-5 d-flex flex-column"> 
                <h3 class="card-title">{{ equipo.name }}</h3>
                <ul class="card-text mb-0">
                    <li>
                        <div class="detail-item">
                            <div class="detail-key">Código Interno:</div>
                            <div class="detail-value">{{ equipo.code }}</div>
                        </div>
                    </li>
                    <li>
                        <div class="detail-item">
                            <div class="detail-key">Modelo:</div>
                            <div class="detail-value">{% if not equipo.model == None %}{{ equipo.model }}{% else %}---{% endif %}</div>
                        </div>
                    </li>
                    <li>
                        <div class="detail-item">
                            <div class="detail-key">Marca:</div>
                            <div class="detail-value">{% if not equipo.marca == None %}{{ equipo.marca }}{% else %}---{% endif %}</div>
                        </div>
                    </li>
                    <li>
                        <div class="detail-item">
                            <div class="detail-key">Serial:</div>
                            <div class="detail-value">{% if not equipo.serial == None %}{{ equipo.serial }}{% else %}---{% endif %}</div>
                        </div>
                    </li>
                    <li>
                        <div class="detail-item">
                            <div class="detail-key">Fabricante:</div>
                            <div class="detail-value">{% if not equipo.fabricante == None %}{{ equipo.fabricante }}{% else %}---{% endif %}</div>
                        </div>
                    </li>
                    <li>
                        <div class="detail-item">
                            <div class="detail-key">Ubicación:</div>
                            <div class="detail-value">{{ equipo.system.location }}</div>
                        </div>
                    </li>
                    {% if equipo.tipo == 'r' %}
                        <li>
                            <div class="detail-item">
                                <div class="detail-key">Tipo:</div>
                                <div class="detail-value">{{ equipo.get_tipo_display }}</div>
                            </div>
                        </li>
                        <li>
                            <div class="detail-item">
                                <div class="detail-key">Horómetro:</div>
                                <div class="detail-value">{{ equipo.horometro }} horas</div>
                            </div>
                        </li>
                        <li>
                            <div class="detail-item">
                                <div class="detail-key">Promedio Horas/Día:</div>
                                <div class="detail-value">{{ equipo.prom_hours }}</div>
                            </div>
                        </li>
                        <li>
                            <div class="detail-item">
                                <div class="detail-key">Lubricante</div>
                                <div class="detail-value">{{ equipo.lubricante }}</div>
                            </div>
                        </li>
                        <li>
                            <div class="detail-item">
                                <div class="detail-key">Capacidad</div>
                                <div class="detail-value">{{ equipo.volumen }} Gls</div>
                            </div>
                        </li>
                    {% endif %}
                    {% if equipo.manual_pdf %}
                        <li>
                            <div class="detail-item">
                                <div class="detail-key">Manual:</div>
                                <div class="detail-value"><a href="{{ equipo.manual_pdf.url }}" target="_blank">Descargar PDF</a></div>
                            </div>
                        </li>
                    {% endif %}
                    <li><strong>Especificaciones:</strong> {{ equipo.feature|linebreaks }}</li>
                </ul>
            </div>
            <div class="col-md-7 image-container">
                {% if equipo.imagen %}
                    <img src="{{ equipo.imagen.url }}" alt="Imagen del Equipo">
                {% else %}
                    <p>No hay imagen disponible.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<table class="table-list table-detail mt-4">
    <thead>
        <tr>
            <th colspan="8">
                Rutinas de mantenimiento
                {% if perms.got.add_ruta %}
                    <a href="{% url 'got:ruta-create' system.id %}"><i class="bi bi-plus-circle add-sys"></i></a>
                {% endif %}
            </th>
        </tr>
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Frecuencia</th>
            <th scope="col">Control</th>
            <th scope="col">Tiempo restante</th>
            <th scope="col">Ultima intervención</th>
            <th scope="col">Proxima intervención</th>
            <th scope="col">Orden de trabajo</th>
            <th></th>
        </tr>
    </thead>    
    <tbody>
        {% for ruta in equipo.equipos.all %}
            <tr id="row{{forloop.counter}}" onclick="toggleDetails('details{{forloop.counter}}', this, event)">
                <td data-cell="Codigo">{{ ruta.name }}</td>
                <td data-cell="Frecuencia">{{ ruta.frecuency }}</td>
                <td data-cell="Control">{{ ruta.get_control_display }}</td>
                <td data-cell="Ultima intervención">{{ ruta.daysleft }}</td>
                <td data-cell="Ultima intervención">{{ ruta.intervention_date }}</td>
                <td data-cell="Proxima intervención">{% if ruta.ot %}{{ ruta.next_date }}{% else %}---{% endif %}</td>
                <td data-cell="Orden de trabajo">
                    {% if ruta.ot %}
                        <a href="{{ ruta.ot.get_absolute_url }}">OT-{{ ruta.ot.num_ot }}</a>
                    {% else %}
                        ---
                    {% endif %}
                </td>
                <td data-cell="Acciones">
                    <div class="dropdown">
                        <button class="btn status {% if ruta.maintenance_status == 'c' %}finished{%elif ruta.maintenance_status == 'p' %}pending{%elif ruta.maintenance_status == 'e' %}shipped{% else %}closed{% endif %} btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if ruta.maintenance_status == 'c' %}Completado{%elif ruta.maintenance_status == 'p' %}Planeado{%elif ruta.maintenance_status == 'e' %}Sin información{% else %}Retrasado{% endif %}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li>
                                <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#crearOtModal{{ ruta.code }}">
                                    Crear nueva OT
                                </button>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'got:ruta-update' ruta.code %}">Editar</a></li>
                            <li><a class="dropdown-item" href="{% url 'got:ruta-delete' ruta.code %}">Eliminar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>

            <div class="modal fade" id="crearOtModal{{ ruta.code }}" tabindex="-1" aria-labelledby="crearOtModalLabel{{ ruta.code }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="crearOtModalLabel{{ ruta.code }}">Crear Orden de Trabajo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Desea crear una orden de trabajo para la rutina <strong>{{ ruta.name }}</strong>?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <a href="{% url 'got:crear_ot_desde_ruta' ruta.code %}" class="btn btn-success">Crear OT</a>
                        </div>
                    </div>
                </div>
            </div>


            <tr id="details{{forloop.counter}}" class="detail-row" style="display:none;">
                <td colspan="8">
                    <table style="width:100%;">
                        <tr>
                            <th colspan="2">
                                Actividades
                                {% if perms.got.add_equipo %}
									<a href="{% url 'got:task-create' ruta.code %}"><i class="bi bi-clipboard2-plus-fill add-more"></i></a>
								{% endif %}
                                {% if ruta.dependencia %}
									(Relación con rutina {{ ruta.dependencia.name }})
								{% endif %}
                            </th>
                            <td>
                            </td>
                        </tr>
                        {% for task in ruta.task_set.all %}
                            <tr>
                                <td>{{forloop.counter}}.</td>
                                <td>{{ task.description }}</td>
                                <td data-cell="Acciones">
                                    {% if perms.got.change_ruta %}
                                        <div class="dropdown">
                                            <button class="btn status pending btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                Acciones
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <li><a class="dropdown-item" href="{% url 'got:update-task' task.id %}">Editar</a></li>
                                                <li><a class="dropdown-item" href="{% url 'got:delete-task' task.id %}">Eliminar</a></li>
                                            </ul>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                {% if task.procedimiento %}
									<td colspan="3"><strong>Procedimiento:<br></strong>{{ task.procedimiento|linebreaksbr }}</td>
								{% endif %}
                            </tr>
                            <tr>
                                {% if task.hse %}
									<td colspan="3"><strong>Precauciones de seguridad:<br></strong>{{ task.hse|linebreaksbr }}</td>
								{% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="8">No hay rutinas de mantenimiento registradas.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>




<div class="container">
    

    <table class="table-list table-detail mt-4">
        <thead>
            <tr>
                <th colspan="3">
                    Consumibles
                    <button type="button" class="add-sys" data-toggle="modal" data-target="#addSupplyModal">
                        <i class="bi bi-plus-circle"></i>
                    </button>
                </th>
            </tr>
            <tr>
                <th scope="col">Articulo</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Seccion</th>
            </tr>
        </thead>
        
        <tbody>
            {% for suministro in suministros %}
            <tr>
                <td>{{ suministro.item }}</td>
                <td>{{ suministro.cantidad }}</td>
                <td>{{ suministro.item.get_seccion_display }}</td>
                <!-- <td>
                    <a href="#" class="btn btn-sm btn-warning">Editar</a>
                    <a href="#" class="btn btn-sm btn-danger">Eliminar</a>
                </td> -->
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay consumibles registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal para agregar suministros -->
    <div class="modal fade" id="addSupplyModal" tabindex="-1" role="dialog" aria-labelledby="addSupplyModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" action="{% url 'got:supply' equipo.code %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="addSupplyModalLabel">Nuevo Suministro para {{ equipo.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="item">Artículo</label>
                            <select class="form-control" id="item" name="item">
                                <option value="">---</option>
                                {% for item in items %}
                                    <option value="{{ item.id }}">{{ item.name }} {{ item.reference }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="cantidad">Cantidad</label>
                            <input type="number" class="form-control" id="cantidad" name="cantidad" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
	function toggleDetails(detailId, trigger, event) {
		if (event.target.closest('.dropdown') || event.target.closest('.dropdown-toggle')) {
            return;
        }

        var detailRow = document.getElementById(detailId);
        detailRow.style.display = (detailRow.style.display === 'none') ? '' : 'none';
    
        // Cambiar el estilo de la fila para indicar si está expandida o no
        trigger.style.fontWeight = (detailRow.style.display === 'none') ? 'normal' : 'bold';
    }
</script>