{% extends "got/base_generic.html" %}

{% block head %}
<a href="{% url 'got:sys-detail' equipo.system.id %}"><i class="bi bi-arrow-90deg-left"></i></a>
{{ equipo.name }}
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <!-- Información General del Equipo -->
        <div class="col-md-6">
            <div>
                <a href="{% url 'got:equipo-delete' equipo.code %}"><i class="bi bi-file-earmark-minus-fill"></i></a>
                <a href="{% url 'got:equipo-update' equipo.code %}"><i class="bi bi-pen"></i></a>
            </div>
            
            <p><strong>Modelo:</strong>  {{equipo.model}}</p>
            <p><strong>Marca:</strong>  {{equipo.marca}}</p>
            <p><strong>Serial:</strong> {{equipo.serial}}</p>
            <p><strong>Fecha ingreso al inventario:</strong> {{equipo.date_inv}}</p>
            <p><strong>codigo interno:</strong> {{equipo.code}}</p>
            <p><strong>Estado:</strong> {{equipo.system.get_state_display}}</p>
            <h4><strong>Información Específica del Equipo</strong></h4>
              <p><strong>Fabricante:</strong> {{equipo.fabricante}}</p>
              <p><strong>Especificaciones:</strong> {{equipo.feature}}</p>
        </div>
          {% if equipo.imagen %}
              <div class="col-md-6">
                  <img src="{{ equipo.imagen.url }}" alt="Imagen del Equipo" class="img-fluid">
                  <!-- La clase "img-fluid" hace que la imagen sea responsiva y se ajuste al ancho del contenedor -->
              </div>
          {% endif %}
    </div>

    <div class="container">
        <!-- <button type="button" class="btn btn-primary space" data-bs-toggle="modal" data-bs-target="#sysModal">
            Crear nuevo sistema
        </button> -->
        <h2>Rutinas de mantenimiento</h2>
        {% if equipo.rutas.all %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Frecuencia (días)</th>
                    <th scope="col">Fecha de ultima intervención</th>
                    <th scope="col">Fecha proxima intervención</th>
                </tr>
            </thead>
            <tbody>           
                {% for ruta in equipo.rutas.all %}
                    <tr>
                        <th scope="row">{{ruta.code}}</th>
                        <td><a href="">{{ruta.frecuency}}</a></td>
                        <td>{{ ruta.intervention_date }}</td>
                        <td>{{ ruta.next_date }}</td>
                        <td>
                            <a class="" href="{% url 'got:ruta-update' ruta.code %}"><i class="bi bi-pen"></i></a>
                        </td>
                        <td>
                        <a class="" href="{% url 'got:ruta-delete' ruta.code %}"><i class="bi bi-file-earmark-minus-fill"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% else %}
        <p>No hay rutinas registrados.</p>
        {% endif %}
    </div>
</div>

{% endblock %}