{% extends "got/base_generic.html" %}
{% load my_tags %}

{% block header %}
	Reportes de falla
{% endblock %}

{% block content %}

	{% if request.user|has_group:"super_members" %}
		<aside>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					Filtrar por equipo
				</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="{% url 'got:failure-report-list' %}">Mostrar todas</a></li>
					<li><a class="dropdown-item" href="{% url 'got:failure-report-list' %}?area=b">Buceo</a></li>
					{% for asset in assets %}
						<li><a class="dropdown-item" href="{% url 'got:failure-report-list' %}?asset_id={{ asset.abbreviation }}">{{ asset.name }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</aside>
	{% endif %}

	<table class="table-content">
    	<thead>
        	<tr>
            	<th scope="col">#</th>
            	<th scope="col">Fecha</th>
            	<th scope="col">Equipo</th>
            	<th scope="col">Descripción</th>
            	<th scope="col">Responsable</th>
            	<th scope="col">Estado</th>
        	</tr>
    	</thead>
    	<tbody>
            {% for fail in failurereport_list %}
				<tr data-href="{{ fail.get_absolute_url }}">
					<td data-cell="# Reporte de falla">{{ fail.id }}</td>
					<td data-cell="Fecha">{{ fail.moment|date:"d/m/Y" }}</td>
					<td data-cell="Equipo">{{ fail.equipo.system.asset }}/ {{ fail.equipo }}</td>
					<td data-cell="Descripción">{{ fail.description }}</td>
					<td data-cell="Responsable">{{fail.reporter.first_name}} {{fail.reporter.last_name}}</td>
					<td class="nowrap" data-cell="Estado">
						{% if fail.closed %}
							Cerrado
						{% elif fail.related_ot %}
							En proceso
						{% else %}
							Abierto
						{% endif %}
					</td>
				</tr>
            {% empty %}
                <tr>
                    <td colspan="6">No hay ordenes de reportes de falla registrados.</td>
                </tr>
            {% endfor %}
    </tbody>
</table>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const rows = document.querySelectorAll("tr[data-href]");

		rows.forEach(row => {
			row.addEventListener("click", () => {
				window.location.href = row.dataset.href;
			})
		})
	})
</script>

{% endblock %}