{% extends "got/base_generic.html" %}

{% block head %}
<a href="{% url 'got:asset-detail' asset.id %}"><i class="bi bi-arrow-90deg-left"></i></a>
reporte de horas {{ asset.name }}
{% endblock %}

{% block content %}
<!-- Mostrar el formulario -->
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
</form>

<h3>Horometro actual {{ component.horometro }}</h3>

<!-- Mostrar el listado de registros en una tabla -->
<div class="center">
<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Horas</th>
      <th>Componente</th>
      <th>Reportado por</th>
    </tr>
  </thead>
  <tbody>
    {% for hour in horas %}
    <tr>
      <td>{{ hour.report_date }}</td>
      <td>{{ hour.hour }}</td>
      <td>{{ hour.component }}</td>
      <td>{{ hour.reporter }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}