{% extends "got/base/base_detail.html" %}
{% load my_tags %}


{% block content %}
	<main class="detail">

        <div class="title">
            <h1>
                {% if perms.got.view_ot %}
                    <a href="{% url 'got:ot-list' %}?asset_id={{ ot.system.asset.abbreviation }}"><i class="bi bi-arrow-90deg-left add-more"></i></a>
                {% endif %}
                <a href="{% url 'got:asset-detail' ot.system.asset.abbreviation %}">{{ ot.system.asset }}/</a>
                Orden de trabajo #{{ ot.num_ot }}
            </h1>
        </div>
        

        <div class="ot-detail">
            <aside>
                <div class="btn-group" role="group">
                    <a href="{% url 'got:report' ot.num_ot %}" target="_blank" class="btn btn-primary">Reporte</a>
                </div>
                {% if perms.got.change_ot %}
                    <div class="btn-group" role="group">
                        <a href="{% url 'got:ot-update' ot.num_ot %}" class="btn btn-primary">Editar</a>
                    </div>
                {% endif %}
                {% if perms.got.delete_ot %}
                    <div class="btn-group" role="group">
                        <a href="{% url 'got:ot-delete' ot.num_ot %}" class="btn btn-danger {% if has_activities %}disabled{% endif %}">Eliminar</a>
                    </div>
                {% endif %}
                {% if ot.state == 'x' %} 
                <div class="btn-group" role="group">
                    <a href="{% url 'got:create-solicitud-ot' ot.system.asset.abbreviation ot.num_ot %}" class="btn btn-primary">Nueva solicitud</a>
                </div>
                {% endif %}
                {% if ot.task_set.all and all_tasks_finished and ot.state == 'x' %} 
                    <form style="display: inline;" method="post" action="{% url 'got:ot-detail' ot.num_ot %}">{% csrf_token %}
                        <div class="btn-group" role="group">
                            {{ state_form }}
                            <button type="submit" class="btn btn-success" name="finish_ot">Finalizar</button>
                        </div>
                    </form>
                {% endif %}
            </aside>
            
            <table class="table-list table-detail">
                <thead>
                    <tr>
                        <th colspan="2">Información general</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Fecha de creación</th>
                        <td>{{ot.creation_date}}</td>
                    </tr>
                    <tr>
                        <th>Supervisor</th>
                        <td>{{ot.super.first_name}} {{ot.super.last_name}}</td>
                    </tr>
                    <tr>
                        <th>Sistema</th>
                        <td>{{ot.system}}</td>
                    </tr>
                    <tr>
                        <th>Estado</th>
                        <td>{{ot.get_state_display}}</td>
                    </tr>
                    <tr>
                        <th>Mantenimiento</th>
                        <td>{{ot.get_tipo_mtto_display}}</td>
                    </tr>
                    <tr>
                        <th>Descripción</th>
                        <td>{{ot.description}}</td>
                    </tr>
                    <tr>
                        <th>Informe externo</th>
                        <td>
                            {% if ot.info_contratista_pdf %}
                                <a href="{{ ot.info_contratista_pdf.url }}" target="_blank">Ver informe</a>
                            {% else %}
                                No hay informe disponible
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <div class="add-info">
            {% if failure_report or rutas %}
                <table class="table-list table-detail">
                    <thead>
                        {% if failure_report %}
                            <tr data-href="{% url 'got:failure-report-detail' failure_report.pk %}">
                                <th class="add" colspan="2">
                                    Reporte de falla #{{ failure_report.pk }}
                                </th>
                            </tr>
                        {% elif rutas %}
                            <tr data-href="{% url 'got:sys-detail' ot.system.pk %}">
                                <th class="add" colspan="2">
                                    Rutina de mantenimiento 
                                </th>
                            </tr>
                        {% endif %}
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                Equipos
                            </th>
                            <td>
                                {% if failure_report %}
                                    {{ failure_report.equipo }}
                                {% endif %}
                                {% if rutas %}
                                    {% for equipo in equipos %}
                                        {{ equipo }}{% if not forloop.last %}/ {% endif %}
                                    {% endfor %}
                                {% endif %}   
                            </td>
                        </tr>
                        {% if failure_report %}
                            <tr>
                                <th>
                                    Falla reportada
                                </th>
                                <td>
                                    {{ failure_report.moment }}/{{ failure_report.description }}<br>
                                    {{ failure_report.causas }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Responsable del reporte
                                </th>
                                <td>
                                    {{ failure_report.reporter.first_name }} {{ failure_report.reporter.last_name }}
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            {% endif %} 

            <table class="table-list table-detail">
                <thead>
                    <tr>
                        <th class="add" colspan="2">
                            Suministros/servicios
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in ot.solicitud_set.all %}
                    <tr>
                        <th>
                            {{ item.creation_date|date:"d/m/Y" }}
                        </th>
                        <td>
                            {{ item.suministros|linebreaks }}<br>
                            {% for suministro in item.suministro_set.all %}
                                {{ suministro.cantidad }} {{ suministro.item.presentacion }} {{ suministro.item.name }} {{ suministro.item.reference }} - {{ suministro.item.code }}<br>
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>

       <div class="tasks">     
            <aside>
                {% if ot.state == 'x' %}
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#activityModal">
                            Crear Actividad
                        </button>
                    </div>
                {% endif %}

                {% if has_electric_motors and request.user|has_group:"super_members" %}
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#electricMotorSelectionModal">
                            Crear registro pueba Megger
                        </button>
                    </div>

                    <!-- Modal para seleccionar un motor eléctrico -->
                    <div class="modal fade" id="electricMotorSelectionModal" tabindex="-1" aria-labelledby="electricMotorSelectionModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="electricMotorSelectionModalLabel">Seleccionar Motor Eléctrico</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" action="{% url 'got:create_megger' ot.num_ot %}">
                                        {% csrf_token %}
                                        <div class="list-group">
                                            {% for equipo in electric_motors %}
                                                <label class="list-group-item">
                                                    <input type="radio" class="form-check-input me-1" name="equipo" value="{{ equipo.code }}" required>
                                                    {{ equipo.name }}
                                                </label>
                                            {% endfor %}
                                        </div>
                                        <button type="submit" class="btn btn-primary mt-3">Crear Megger</button>
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                {% endif %}
            </aside>    

            <div class="table-responsive">
                <table class="table-list table-detail">
                    <thead>
                        <tr>
                            <th colspan="5">
                                Actividades
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Responsable</th>
                            <th scope="col">Fechas</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for act in ot.task_set.all %}
                            <!-- <tr {% if request.user|can_edit_task:act %}data-href="{% url 'got:finish-task' act.id %}"{% endif %}> -->
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td><a href="{% if request.user|can_edit_task:act %}{% url 'got:finish-task' act.id %}{% endif %}">{{ act.description|linebreaksbr }}</a></td>
                                <td>{{act.responsible.first_name}} {{act.responsible.last_name}}</td>
                                <td>{{act.start_date|date:"d/m/Y"}}-{{act.final_date|date:"d/m/Y"}}</td>
                                <td class="nowrap">
                                    <div class="btn-group">
                                        <button class="btn status {% if act.finished %}finished{% elif act.is_overdue %}close{% else %}pending{% endif %} btn-sm dropdown-toggle" type="button" id="dropdownMenuButton{{ forloop.counter }}" data-bs-toggle="dropdown" aria-expanded="false">
                                            {% if act.finished %}Finalizado{% elif act.is_overdue %}Retrasado{% else %}En progreso{% endif %}
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ forloop.counter }}">
                                            <li><a class="dropdown-item" href="{{ act.get_absolute_url }}">Ver detalle</a></li>
                                            <li><a class="dropdown-item {% if not request.user|can_edit_task:act %}disabled{% endif %}" href="{% url 'got:finish-task-ot' act.id %}">Finalizar</a></li>
                                            <li><a class="dropdown-item {% if not perms.got.change_task %}disabled{% endif %}" href="{% url 'got:task-update' act.id %}">Editar</a></li>                                  
                                            <li><button class="dropdown-item {% if not perms.got.delete_task %}disabled{% endif %}" type="button" data-bs-toggle="modal" data-bs-target="#delete{{ act.id }}">Eliminar</button></li>                                  
                                            <li><a class="dropdown-item {% if not perms.got.can_reschedule_task %}disabled{% endif %}" href="{% url 'got:reschedule-task' act.id %}">Reprogramar</a></li>
                                        </ul>
                                    </div>
                                </td>
                                
                                {% if perms.got.delete_task %}
                                    <div class="modal fade" id="delete{{ act.id }}" tabindex="-1" aria-labelledby="deleteLabel{{ act.id }}" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteLabel{{ act.id }}">Eliminar actividad: </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    {{act.description}}
                                                </div>
                                                <div class="modal-footer">
                                                    <form method="post" action="{% url 'got:ot-detail' ot.num_ot %}" enctype="multipart/form-data">{% csrf_token %}
                                                        <input type="hidden" name="delete_task_id" value="{{ act.id }}">
                                                        <button type="submit" class="btn btn-danger" name="delete_task">Eliminar</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </tr>
                            {% if act.news %}
                                <tr>
                                    <td colspan="5">
                                        <strong>Novedades:<br> </strong>{{ act.news|linebreaksbr }}
                                    </td>
                                </tr>
                            {% endif %}
                        {% empty %}
                            <tr>
                                <td colspan="5">No hay actividades registradas.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="megger-section">
                <h2>Pruebas de Megger</h2>
                {% if megger_tests %}
                    <ul class="list-group">
                        {% for megger in megger_tests %}
                            <li class="list-group-item">
                                Prueba Megger #{{ megger.id }} para el equipo {{ megger.equipo.name }}
                                <a href="{% url 'got:meg-detail' megger.pk %}" class="btn btn-primary btn-sm">Ver Detalles</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No hay pruebas de Megger asociadas con esta OT.</p>
                {% endif %}
            </div>
        </div>
        
        {% if perms.got.add_task %}
            <div class="modal fade" id="activityModal" tabindex="-1" aria-labelledby="activityModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="activityModalLabel">Crear Actividad</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="{{ ot.get_absolute_url }}" enctype="multipart/form-data">{% csrf_token %}
                                <div class="form-group">
                                    {{ task_form }}
                                    {{ image_form }}
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" name="submit_task">Agregar Actividad</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
	</main>

    <script>
        document.addEventListener("shown.bs.dropdown", function (event) {
            let tableResponsive = document.querySelector('.table-responsive');
            if (tableResponsive) {
                tableResponsive.style.overflow = 'visible';
            }
        });

        document.addEventListener("hidden.bs.dropdown", function (event) {
            let tableResponsive = document.querySelector('.table-responsive');
            if (tableResponsive) {
                tableResponsive.style.overflow = 'auto';
            }
        });

    </script>
    
{% endblock %}
