{% extends "got/base_generic.html" %}

{% block head %}Listado de Ordenes de trabajo{% endblock %}

{% block content %}

    <div>
        <a class="btn btn-primary space" href="{% url 'got:ot-create' %}">Crear OT</a>
    </div>

    <form method="GET" action="{% url 'got:ot-list' %}" class="form" autocomplete="off">
        <div class="input-group flex-nowrap" style="width: 500px;">
            <span class="input-group-text" id="addon-wrapping">Buscar</span>
            {{ form.description }}
            <input type="submit" value="Buscar" class="btn btn-primary">
        </div>  
    </form>
      
    {% if request.GET.description %}
        <h5>Resultados de búsqueda para: "{{ request.GET.description }}"</h5>
    {% endif %}
    

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">OT-#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Descripción</th>
                <th scope="col">Sistema</th>
                <th scope="col">Supervisor</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            {% if ot_list %}
                {% for ot in ot_list %}
                <tr>
                    <th scope="row">OT-{{ot.num_ot}}</td>
                    <td>{{ot.creation_date}}</td>
                    <td><a href="{{ ot.get_absolute_url }}">{{ot.description}}</a></td>
                    <td>{{ot.system}}</td>
                    <td>{{ot.super.first_name}} {{ot.super.last_name}}</td>
                    <td>{{ot.get_state_display}}</td>
                </tr>
                {% endfor %}
                
            {% else %}
                <p>No hay ordenes de trabajo en la registrados.</p>
            {% endif %}
        </tbody>
    </table>

{% endblock %}