{% extends "got/base_generic.html" %}
{% load my_tags %}

{% block headtag %}
<style>

	.wrapper {
		width: min(900px, 100% - 3rem);
		margin-inline: auto;
	}

	table {
		width: 100%;
		color: white;
		background: #323232;
		border-collapse: collapse;
	}

	th, td {
		padding: 1rem;
	}

	caption {
		color: white;
		text-align: center;
		background-color:  hsl(0 0% 0%);
		text-transform: uppercase;
		font-weight: 700;
	}

	th {
		background-color:  hsl(0 0% 0% / 0.5);
	}

	tr:nth-of-type(2n) {
		background-color:  hsl(0 0% 0% / 0.1);
	}

	@media (max-width: 650px) {
		th {
			display: none;
		}
		td {
			display: grid;
			gap: 0.5rem;
			grid-template-columns: 15ch auto;
			padding: 0.5rem 1rem;
		}

		td:first-child {
			padding-top: 2rem;
		}

		

		td::before {
			content: attr(data-cell) ": ";
			font-weight: 700;
		}

		td:last-child {
			padding-bottom: 2rem;	
		}
	}
</style>
{% endblock %}

{% block header %}Listado de Ordenes de trabajo{% endblock %}

{% block content %}
    <section class="container d-flex justify-content-end flex-wrap align-items-center">

        <!-- Opciones de filtrado -->

        <!-- Enlace sin filtros -->
        <div class="btn-group" role="group" style="margin: 5px 0px;">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Filtrar por equipo
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'got:ot-list' %}">Mostrar todas</a></li>
                {% for a in asset %}
                    <li><a class="dropdown-item" href="{% url 'got:ot-list' %}?asset_id={{ a.abbreviation }}">{{ a.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        {% if request.user|has_group:"super_members" %}
            <div class="btn-group" role="group" style="margin: 5px 10px;">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Filtrar supervisor
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'got:ot-list' %}">Mostrar todas</a></li>
                    {% for u in super_members %}
                        <li><a class="dropdown-item" href="{% url 'got:ot-list' %}?asset_id={{ some_asset_id }}&responsable={{ u.id }}">{{ u.first_name }} {{ u.last_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="btn-group" role="group" style="margin: 5px 10px;">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Estado
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'got:ot-list' %}">Todos</a></li>
                <li><a class="dropdown-item" href="{% url 'got:ot-list' %}?state=a">Abierto</a></li>
                <li><a class="dropdown-item" href="{% url 'got:ot-list' %}?state=x">En ejecucion</a></li>
                <li><a class="dropdown-item" href="{% url 'got:ot-list' %}?state=f">Finalizado</a></li>
                <li><a class="dropdown-item" href="{% url 'got:ot-list' %}?state=c">Cancelado</a></li>
            </ul>
        </div>

    

        <div style="padding: 10px 0">
            <form method="GET" action="{% url 'got:ot-list' %}" class="form" autocomplete="off">
                <div class="input-group flex-nowrap" style="width: 500px;">
                    <span class="input-group-text" id="addon-wrapping">Descripción</span>
                    <input type="text" name="keyword" class="form-control" placeholder="">
                    <input type="submit" value="Buscar" class="btn btn-primary">
                </div>  
            </form>
        </div>

    </section>
      
    {% if request.GET.keyword %}
        <h5>Resultados de búsqueda para: "{{ request.GET.keyword }}"</h5>
    {% endif %}
    

    <table class="table table-striped mi-tabla-borde-externo">
        <thead>
            <tr>
                <th scope="col">OT-#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Descripción</th>
                <th scope="col">Sistema</th>
                <th scope="col">Supervisor</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for ot in ot_list %}
                <tr class="{% if ot.all_tasks_finished and ot.state != 'f' %}table-success{% endif %}">
                    <td data-cell="OT">OT-{{ ot.num_ot }}</td>
                    <td data-cell="Fecha de creación">{{ot.creation_date|date:"d/m/Y"}}</td>
                    <td data-cell="Descripción"><a href="{{ ot.get_absolute_url }}">{{ot.description}}</a></td>
                    <td data-cell="Sistema">{{ot.system}}</td>
                    <td data-cell="Responsable">{{ot.super.first_name}} {{ot.super.last_name}}</td>
                    <td data-cell="Estado">{{ot.get_state_display}}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">No hay ordenes de trabajo registrados.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}