{% extends "got/base_generic.html" %}
{% load my_tags %}

{% block header %}Ordenes de trabajo{% endblock %}

{% block content %}

    <aside>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Filtrar por equipo
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'got:ot-list' %}">Mostrar todas</a></li>
                {% for a in asset %}
                    <li><a class="dropdown-item" href="{% url 'got:ot-list' %}?asset_id={{ a.abbreviation }}">{{ a.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        {% if request.user|has_group:"super_members" %}
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Filtrar supervisor
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'got:ot-list' %}">Mostrar todas</a></li>
                    {% for u in super_members %}
                        <li><a class="dropdown-item" href="{% url 'got:ot-list' %}?asset_id={{ some_asset_id }}&responsable={{ u.id }}">{{ u.first_name }} {{ u.last_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Estado
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'got:ot-list' %}">Todos</a></li>
                <li><a class="dropdown-item" href="{% url 'got:ot-list' %}?state=a">Abierto</a></li>
                <li><a class="dropdown-item" href="{% url 'got:ot-list' %}?state=x">En ejecucion</a></li>
                <li><a class="dropdown-item" href="{% url 'got:ot-list' %}?state=f">Finalizado</a></li>
                <li><a class="dropdown-item" href="{% url 'got:ot-list' %}?state=c">Cancelado</a></li>
            </ul>
        </div>

        <div class="btn-group box-shadow" role="group">
            <form method="GET" action="{% url 'got:ot-list' %}" class="form" autocomplete="off">
                <div class="input-group">
                    <input type="text" name="keyword" class="form-control" placeholder="Descripción" aria-label="Descripción" aria-describedby="button-addon2">
                    <input type="submit" value="Buscar" class="btn btn-primary" id="button-addon2">
                </div>  
            </form>
        </div>
    </aside>
      
    {% if request.GET.keyword %}
        <h5>Resultados de búsqueda para: "{{ request.GET.keyword }}"</h5>
    {% endif %}
    
    <div class="table-responsive">
    <table class="table-content">
        <thead>
            <tr>
                <th scope="col">OT-#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Descripción</th>
                <th scope="col">Sistema</th>
                <th scope="col">Supervisor</th>
                <th scope="col" >Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for ot in ot_list %}
                <tr  data-href="{{ ot.get_absolute_url }}" class="{% if ot.all_tasks_finished and ot.state != 'f' %}table-success{% endif %}">
                    <td class="nowrap" data-cell="OT">OT-{{ ot.num_ot }}</td>
                    <td data-cell="Fecha de creación">{{ot.creation_date|date:"d/m/Y"}}</td>
                    <td data-cell="Descripción">{{ot.description}}</td>
                    <td data-cell="Sistema">{{ot.system}}</td>
                    <td data-cell="Supervisor">{{ot.super.first_name}} {{ot.super.last_name}}</td>
                    <td class="nowrap" data-cell="Estado" >{{ot.get_state_display}}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">No hay ordenes de trabajo registrados.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("tr[data-href]");
    
            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                })
            })
        })
    </script>
{% endblock %}