{% extends "got/base_generic.html" %}

{% block headtag %}
<style>
	body {
		font-size: 0.8rem;
		font-family: system-ui;
		line-height: 1.5;
	}

	.wrapper {
		width: min(900px, 100% - 3rem);
		margin-inline: auto;
	}

	table {
		width: 100%;
		color: white;
		background: #323232;
		border-collapse: collapse;
	}

	th, td {
		padding: 0.4rem;
	}
	

	caption {
		color: white;
		text-align: center;
		background-color:  hsl(0 0% 0%);
		text-transform: uppercase;
		font-weight: 700;
	}

	th {
		background-color:  hsl(0 0% 0% / 0.5);
	}

	tr:nth-of-type(2n) {
		background-color:  hsl(0 0% 0% / 0.1);
	}

	@media (max-width: 650px) {
		th {
			display: none;
		}
		td {
			display: grid;
			gap: 0.5rem;
			grid-template-columns: 15ch auto;
			padding: 0.5rem 1rem;
		}

		td:first-child {
			padding-top: 2rem;
		}

		td:last-child {
			padding-bottom: 2rem;	
		}

		td::before {
			content: attr(data-cell) ": ";
			font-weight: 700;
		}
	}
</style>
{% endblock %}

{% block header %}Rutinas de mantenimiento{% endblock %}

{% block content %}

<div class="wrapper">
		<table class="mt-5">
			<caption>
				Control Dique
			</caption>
			<tr>
				<th rowspan="2">Embarcaciones</th>
				<th rowspan="2">Último dique</th>
				<th rowspan="2">Astillero</th>
				<th colspan="4" style="text-align: center;">Fecha dique 2.5 años</th>
			</tr>
			<tr>
				<th>Dias restantes</th>
				<th>Mes</th>
				<th>Año</th>
				<th>Fecha</th>
			</tr>
			{% for ruta in dique_rutinas %}
				<tr>
					<td data-cell="Embarcación">{{ruta.system.asset}}</td>
					<td data-cell="Última intervención">{{ruta.intervention_date|date:"d/m/Y"}}</td>
					<td data-cell="Astillero">{{ruta.astillero}}</td>
					<td data-cell="Dias restantes">{{ruta.daysleft}}</td>
					<td data-cell="Mes">{{ruta.next_date|date:"M"}}</td>
					<td data-cell="Año">{{ruta.next_date|date:"Y"}}</td>
					<td data-cell="Fecha">{{ruta.next_date|date:"d/m/Y"}}</td>
				</tr>
			{% endfor %}
		</table>
</div>

<section class="mt-5">
    <!-- Boton de filtrar activos por area -->
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Filtrar por area
            </button>
            <!-- Opciones -->
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'got:ruta-list' %}">Mostrar todos</a></li>
                <li><a class="dropdown-item" href="{% url 'got:ruta-list' %}?location=Cartagena">Cartagena</a></li>
                <li><a class="dropdown-item" href="{% url 'got:ruta-list' %}?location=Santa Marta">Santa Marta</a></li>
                <li><a class="dropdown-item" href="{% url 'got:ruta-list' %}?location=Guyana">Guyana</a></li>
            </ul>
        </div>
</section>


<div>
	<table class="mt-5" style="width: 80%; margin: auto;">
		<caption>
			Control mantenimiento equipos de buceo
		</caption>
		<tr>
			<th>Equipos</th>
			<th>Mensual</th>
			<th>Trimestral</th>
			<th>Semestral</th>
			<th>Anual</th>
			<th>Bianual</th>
			<th rowspan="{{ buceo_rowspan }}" style="vertical-align: middle; text-align: center; font-size: 1.25em;">
				{{ ind_mtto }} %
			</th>
		</tr>
		{% for asset in buceo %}
			<tr>
				<td data-cell="Equipo">{{asset.asset}}</td>
				<td>
					<span {% if asset.mensual == "Requiere" %} class="badge text-bg-danger" {% elif asset.mensual == "Ok" %} class="badge text-bg-success" {% endif %}>
						{{ asset.mensual }}
					</span>
				</td>
				<td>
					<span {% if asset.trimestral == "Requiere" %} class="badge text-bg-danger" {% elif asset.trimestral == "Ok" %} class="badge text-bg-success" {% endif %}>
						{{ asset.trimestral }}
					</span>
				</td>
				<td>
					<span {% if asset.semestral == "Requiere" %} class="badge text-bg-danger" {% elif asset.semestral == "Ok" %} class="badge text-bg-success" {% endif %}>
						{{ asset.semestral }}
					</span>
				</td>
				<td>
					<span {% if asset.anual == "Requiere" %} class="badge text-bg-danger" {% elif asset.anual == "Ok" %} class="badge text-bg-success" {% endif %}>
						{{ asset.anual }}
					</span>
				</td>
				<td>
					<span {% if asset.bianual == "Requiere" %} class="badge text-bg-danger" {% elif asset.bianual == "Ok" %} class="badge text-bg-success" {% endif %}>
						{{ asset.bianual }}
					</span>
				</td>
			</tr>
		{% endfor %}
	</table>
</div>

<div>
	<table class="mt-5" style="width: 100%; margin: auto;">
		<caption>
			Motores aceites y filtros
		</caption>
		<tr>
			<th rowspan="2" style="text-align: center;">Equipo</th>
			<th colspan="5" style="text-align: center;">Motor propulsor estribor</th>
			<th colspan="5" style="text-align: center;">Motor propulsor babor</th>
		</tr>
		<tr>
			<th>Componente</th>
			<th>Lub. Utilizado</th>
			<th>Capacidad (Gls)</th>
			<th>Horometro</th>
			<th>Fecha ultimo reporte</th>

			<th>Componente</th>
			<th>Lub. Utilizado</th>
			<th>Capacidad (Gls)</th>
			<th>Horometro</th>
			<th>Fecha ultimo reporte</th>
		</tr>
		{% for motor in motores_data %}
			<tr>
				<td style="white-space: nowrap;">{{ motor.name }}</td>
				<td>{{ motor.estribor.marca }} / {{ motor.estribor.modelo }}</td>
				<td>{{ motor.estribor.lubricante }}</td>
				<td style="text-align: center;">{{ motor.estribor.capacidad }}</td>
				<td style="text-align: center;">{{ motor.estribor.horometro }}</td>
				<td>{{ motor.estribor.fecha|date:"d/m/Y" }}</td>

				<td>{{ motor.babor.marca }} / {{ motor.babor.modelo }}</td>
				<td>{{ motor.babor.lubricante }}</td>
				<td style="text-align: center;">{{ motor.babor.capacidad }}</td>
				<td style="text-align: center;">{{ motor.babor.horometro }}</td>
				<td>{{ motor.babor.fecha|date:"d/m/Y" }}</td>

			</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}