{% extends "got/base_generic.html" %}

{% block head %}RUTINAS DE MANTENIMIENTO{% endblock %}

{% block content %}

<!-- Opciones de filtrado -->
<form method="get" action="{% url 'got:ruta-list' %}">
    <label for="area_filter">Filtrar por área:</label>
    <select name="area_filter" id="area_filter">
        <option value="">Todos</option>
        <option value="a" {% if area_filter == 'a' %}selected{% endif %}>Artefactos Navales</option>
        <option value="b" {% if area_filter == 'b' %}selected{% endif %}>Buceo</option>
        <option value="o" {% if area_filter == 'o' %}selected{% endif %}>Oceanografía</option>
        <option value="l" {% if area_filter == 'l' %}selected{% endif %}>Locativo</option>
        <option value="v" {% if area_filter == 'v' %}selected{% endif %}>Vehículos</option>
    </select>
    <button type="submit" >Filtrar</button>
</form>

	
<!-- Rutinas de mantenimiento -->
{% if ruta_list %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Equipo</th>
				<th scope="col">Codigo</th>
				<th scope="col">Frecuencia (días)</th>
				<th scope="col">Fecha de ultima intervención</th>
				<th scope="col">Fecha proxima intervención</th>
				<th scope="col">Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for ruta in ruta_list %}
				<tr data-bs-toggle="collapse" data-bs-target="#collapse{{ ruta.code }}" aria-expanded="false" aria-controls="collapse{{ ruta.code }}" class="{% if ruta.maintenance_status == 'c' %}table-success{%elif ruta.maintenance_status == 'p' %}table-warning{% else %}table-danger{% endif %}">
					<th scope="row">{{ ruta.system.asset }}/{{ ruta.system.name }}</th>
					<td>{{ ruta.name }}</td>
					<td>{{ ruta.frecuency }}</td>
					<td>{{ ruta.intervention_date }}</td>
					<td>{{ ruta.next_date }}</td>
					<td>
						<a class="" href="{% url 'got:ruta-update' ruta.code %}"><i class="bi bi-pen"></i></a>
						<a class="" href="{% url 'got:ruta-delete' ruta.code %}"><i class="bi bi-file-earmark-minus-fill"></i></a>
					</td>
				</tr>
				<tr>
					<td colspan="5">
						<div id="collapse{{ ruta.code }}" class="collapse">
							<p>
                                <a href="{{ ruta.get_absolute_url }}"><i class="bi bi-arrow-right-square-fill"></i></a>
								<strong>Actividades:</strong>
							</p>

							{% if ruta.task_set.all %}
								<ol>
									{% for task in ruta.task_set.all %}
										<li>{{ task.description }}</li>
										<ul style="list-style-type: none;">
											<li>{{ task.responsible.first_name }} {{ task.responsible.last_name }}</li>
											<li>{{ task.news }}</li>
										</ul>
									{% endfor %}
								</ol>

							{% else %}
								<p>No hay actividades registradas.</p>
							{% endif %}

						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<p>No hay rutinas registradas.</p>
	{% endif %}

{% endblock %}