{% extends "got/base_generic.html" %}

{% block headtag %}
<style>
    .chartMenu {
		width: 100vw;
		height: 40px;
		background: #1A1A1A;
		color: rgba(54, 162, 235, 1);
	}
	.chartMenu p {
		padding: 10px;
		font-size: 20px;
	}
	.chartCard {
		width: 100vw;
		height: calc(100vh - 40px);
		background: rgba(54, 162, 235, 0.2);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.chartBox {
		width: 100%;
		padding: 0px;
		border-radius: 20px;
		/* border: solid 3px rgba(54, 162, 235, 1); */
		background: white;
        overflow-x: auto; /* Permite el desplazamiento horizontal */
        min-width: 1200px;
	}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}

{% block header %}

    {{ asset.name }}

{% endblock %}

{% block content %}

    <div class="chartBox mt-5 rounded shadow">
        <canvas id="myChart"></canvas>
    </div>


    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

    <script>
    // setup 
    const data = {

        datasets: [{
            label: 'Cronograma de actividades',
            data: [
                {% for task in tasks %}
                    {
                        x: ['{{task.start_date|date:"Y-m-d"}}', '{{task.final_date|date:"Y-m-d"}}'],
                        y: '{{task.description}}',
                        name: '{{task.name}}',
                        statuss: {{task.statuss|yesno:"true,false"}},
                        status: '{{task.status_code}}',
                        activityDescription: '{{ task.activity_description }}'
                    },
                {% endfor %}         
            ],
            backgroundColor: [
                {% for task in tasks %}
                    '{{ task.background_color }}',
                {% endfor %}
            ],
            borderColor: [
                {% for task in tasks %}
                    '{{ task.border_color }}',
                {% endfor %}
            ],
            borderWidth: 1,
            borderSkipped: false,
            borderRadius: 15,
            barPercentage: 0.5,
        }]
    };

    const todayLine = {
        id: 'todayLine',
        afterDatasetsDraw(chart, arg, pluginOptions) {
            const {ctx, data, chartArea: {top, bottom, left, right }, scales: {x, y} } = chart;
            ctx.save();

            ctx.beginPath();
            ctx.lineWidth = 3;
            ctx.strokeStyle = 'rgba(102, 102, 10, 1)';
            ctx.setLineDash([6, 6]);
            ctx.moveTo(x.getPixelForValue(new Date()), top);
            ctx.lineTo(x.getPixelForValue(new Date()), bottom);
            ctx.stroke();

            ctx.setLineDash([]);
        }
    }

    const status = {
        id: 'status',
        afterDatasetsDraw(chart, args, pluginOptions) {
            const {ctx, data, options, chartArea: {top, bottom, left, right}, scales: {x, y}} = chart;
            
            const paddingRight = options.layout.padding.right;
            const icons = ['\uf00d', '\uf110', '\uf00c'];
            const colours = ['rgba(255, 26, 104, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)'];

            ctx.save();
            ctx.font = 'bolder 12px FontAwesome';
            ctx.textBaseline = 'middle';
            ctx.textAlign = 'center';
            data.datasets[0].data.forEach((datapoint, index) => {
                ctx.beginPath();
                ctx.fillStyle = colours[datapoint.status];
                ctx.arc(right + (paddingRight / 2), y.getPixelForValue(index), 12, 0, (Math.PI/180)*360, false);
                ctx.closePath();
                ctx.fill();
                ctx.fillStyle = 'white';
                ctx.fillText(icons[datapoint.status], right + (paddingRight / 2), y.getPixelForValue(index));})
            ctx.restore();
        }
    }

    // config 
    const config = {
        type: 'bar',
        data,
        options: {
            responsive: true,
            indexAxis: 'y',
            layout: {
                padding: {
                    left: 0,
                    right: 100
                },
            },
            scales: {
                x: {
                    display: true,
                    position: 'top',
                    type: 'time',
                    time: {
                        // unit: 'day'
                        displayFormats: {
                            day: 'd'
                        }
                    },
                    min: '{{min_date|date:"Y-m-d"}}',
                    max: '2024-06-10s',
                    padding: {top: 20, left: 0, right: 0, bottom: 0}
                },
                y: {
                    display: true,
                    position: 'left',
                    ticks: {
                        font: {
                            size: 16,  
                            weight: 'bold', 
                        }
                    }
                },
            },
            
            plugins: {
                tooltip: {
                    enabled: true,
                    callbacks: {
                        title: function(tooltipItems, data) {
                        // Cambiar el título por la descripción de la actividad
                            return tooltipItems[0].raw.activityDescription;
                        },
                        label: function(context) {
                            var dataPoint = context.raw;
                            var statussBoolean = dataPoint.statuss === 'true';
                            return [
                                `Fecha inicio: ${dataPoint.x[0]}`,
                                `Fecha fin: ${dataPoint.x[1]}`,
                                `Responsable: ${dataPoint.name}`,
                                // `Estado2: ${dataPoint.statuss}`,
                                // `Estado: ${statussBoolean ? 'Finalizado' : 'En proceso'}`,
                            ];
                        }
                    }
                },
                legend: {
                    display: false
                },
            },

        },
        plugins: [
            todayLine, status
        ]
    };

    

    // render init block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );

    // Instantly assign Chart.js version
    const chartVersion = document.getElementById('chartVersion');
    chartVersion.innerText = Chart.version;
    </script>

{% endblock %}