{% extends "got/base_generic.html" %}

{% block headtag %}
<style>
    .chartMenu {
		width: 100vw;
		height: 40px;
		background: #1A1A1A;
		color: rgba(54, 162, 235, 1);
	}
	.chartMenu p {
		padding: 10px;
		font-size: 20px;
	}
	.chartCard {
		width: 100vw;
		height: calc(100vh - 40px);
		background: rgba(54, 162, 235, 0.2);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.chartBox {
		width: 100%;
		padding: 0px;
		border-radius: 20px;
		border: solid 3px rgba(54, 162, 235, 1);
		background: white;
	}
</style>
{% endblock %}

{% block header %}

    {{ asset.name }}

{% endblock %}

{% block content %}

    <div class="chartBox mt-5">
        <canvas id="myChart"></canvas>
    </div>


    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

    <script>
    // setup 
    const data = {

        datasets: [{
            label: 'Cronograma de actividades',
            data: [
                {% for task in tasks %}
                    {
                        x: ['{{task.start_date|date:"Y-m-d"}}', '{{task.final_date|date:"Y-m-d"}}'],
                        y: '{{task.description}}',
                        name: '{{task.name}}',
                        status: '{{task.status}}',
                        activityDescription: '{{ task.activity_description }}'
                    },
                {% endfor %}         
            ],
            backgroundColor: [
                {% for task in tasks %}
                    '{{ task.background_color }}',
                {% endfor %}
            ],
            borderColor: [
                {% for task in tasks %}
                    '{{ task.border_color }}',
                {% endfor %}
            ],
            borderWidth: 1,
            borderSkipped: false,
            borderRadius: 15,
            barPercentage: 0.5,
        }]
    };

    const todayLine = {
        id: 'todayLine',
        afterDatasetsDraw(chart, arg, pluginOptions) {
            const {ctx, data, chartArea: {top, bottom, left, right }, scales: {x, y} } = chart;
            ctx.save();

            ctx.beginPath();
            ctx.lineWidth = 0.5;
            ctx.strokeStyle = 'rgba(255, 26, 104, 1)';
            ctx.moveTo(x.getPixelForValue(new Date()), top);
            ctx.lineTo(x.getPixelForValue(new Date()), bottom);
            ctx.stroke();
        }
    }

    const status = {
        id: 'status'
    }

    // config 
    const config = {
        type: 'bar',
        data,
        options: {
            responsive: true,
            indexAxis: 'y',
            layout: {
                padding: {
                    left: 0,
                    right: 100
                },
            },
            scales: {
                x: {
                    display: true,
                    position: 'top',
                    type: 'time',
                    time: {
                        unit: 'day'
                    },
                    min: '{{min_date|date:"Y-m-d"}}',
                    max: '2024-05-15',
                    padding: {top: 20, left: 0, right: 0, bottom: 0}
                },
                y: {
                ticks: {
                    font: {
                        size: 14,  
                        weight: 'bold', 
                    }
                }
            }
            },
            
            plugins: {
                tooltip: {
                    enabled: true,
                    callbacks: {
                        title: function(tooltipItems, data) {
                        // Cambiar el título por la descripción de la actividad
                        return tooltipItems[0].raw.activityDescription;
                        },
                        label: function(context) {
                        var dataPoint = context.raw;
                        return [
                            `Fecha inicio: ${dataPoint.x[0]}`,
                            `Fecha fin: ${dataPoint.x[1]}`,
                            `Responsable: ${dataPoint.name}`,
                            `Estado: ${dataPoint.status ? 'Finalizado' : 'En proceso'}`,
                        ];
                        }
                    }
                },
                legend: {
                    display: false
                },
            },

        },
        plugins: [
            todayLine, status
        ]
    };

    

    // render init block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );

    // Instantly assign Chart.js version
    const chartVersion = document.getElementById('chartVersion');
    chartVersion.innerText = Chart.version;
    </script>

{% endblock %}