

<div class="timeline">
	<div class="list-group">
		{% for order in orders %}
		<a href="{% url 'got:ot-detail' order.num_ot %}" class="list-group-item list-group-item-action">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1">OT #{{ order.num_ot }}</h5>
				<small>{{ order.creation_date }}</small>
			</div>
			<p class="mb-1">{{ order.description }}</p>
			<div><small>Estado: {{ order.get_state_display }}</small></div>
			<small>Mantenimiento: {{ order.get_tipo_mtto_display }}</small>
		</a>
		{% empty %}
		<p>No hay órdenes de trabajo registradas.</p>
		{% endfor %}
	</div>
</div>

{% if orders.has_other_pages %}
  <ul class="pagination">
    {% if orders.has_previous %}
      <li><a href="?page={{ orders.previous_page_number }}">«</a></li>
    {% else %}
      <li class="disabled"><span>«</span></li>
    {% endif %}
    {% for i in orders.paginator.page_range %}
      {% if orders.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if orders.has_next %}
      <li><a href="?page={{ orders.next_page_number }}">»</a></li>
    {% else %}
      <li class="disabled"><span>»</span></li>
    {% endif %}
  </ul>
{% endif %}
