<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Informe del Sistema {{ system.name }} en Activo {{ asset.name }}</title>
    <style>
        body { font-family: Arial, sans-serif; font-size: 14px; }
        h1, h2, h3 { color: #333366; }
        th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; }
        .header-table, .content-table { width: 100%; border-collapse: collapse; margin-top: 20px; }
        img { width: 100px; height: auto; margin-right: 10px; }
    </style>
</head>
<body>
    <header>
        <table class="header-table">
            <tr>
                <td style="width: 200px; border: 1px solid black;">
                    <img src="https://hivik.s3.us-east-2.amazonaws.com/static/Logo.png" style="width: 200px; height: auto;">
                </td>
                <td style="text-align: center;">
                    <h1>Informe del Sistema: {{ system.name }}</h1>
                    <h2>En Activo: {{ asset.name }}</h2>
                    <div>CODIGO: FR-SP-MT-97 | VERSION 004 | FECHA DE ACTUALIZACION: 27/01/2023</div>
                </td>
            </tr>
        </table>
    </header>

    {% for ruta_info in rutas_data %}
        <h2>{{ ruta_info.ruta.name }}</h2>
        <table class="content-table">
            <thead>
                <tr>
                    <th>Ruta</th>
                    <th>Frecuencia</th>
                    <th>Control</th>
                    <th>Última Intervención</th>
                    <th>Próxima Intervención</th>
                    <th>Número OT</th>
                    <th>Archivos OT</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ ruta_info.ruta.name }}</td>
                    <td>{{ ruta_info.ruta.frecuency }}</td>
                    <td>{{ ruta_info.ruta.get_control_display }}</td>
                    <td>{{ ruta_info.ruta.intervention_date|date:"d/m/Y" }}</td>
                    <td>{{ ruta_info.ruta.next_date|date:"d/m/Y" }}</td>
                    <td>{{ ruta_info.ot_num }}</td>
                    <td>
                        {% for pdf in ruta_info.ot_pdfs %}
                            <a href="{{ pdf.url }}">Descargar PDF</a><br>
                        {% empty %}
                            Sin archivos
                        {% endfor %}
                    </td>
                </tr>
                {% for task in ruta_info.tasks %}
                    <tr>
                        <td colspan="7">
                            <strong>Actividad:</strong> {{ task.description }}<br>
                            <strong>Precauciones de seguridad:</strong> {{ task.hse }}<br>
                            <strong>Procedimiento:</strong> {{ task.procedimiento|linebreaks }}
                        </td>
                    </tr>
                    <!-- <tr>
                        <td colspan="7">
                            {% for image in task.images.all %}
                                <img src="{{ image.image.url }}" alt="Task Image">
                            {% empty %}
                                <p>No images available.</p>
                            {% endfor %}
                        </td>
                    </tr> -->
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
</body>
</html>
