			
<div>
	<table class="table-list table-detail">
		<thead>
			<tr>
				<th colspan="9">
					Rutinas de mantenimiento
					{% if perms.got.add_ruta %}
						<a href="{% url 'got:ruta-create' system.id %}"><i class="bi bi-plus-circle add-sys"></i></a>
					{% endif %}
				</th>
			</tr>
			<tr>
				<th scope="col">Codigo</th>
						<th scope="col">Equipo</th>
						<th scope="col">Frecuencia</th>
						<th scope="col">Control</th>
						<th scope="col">Tiempo restante</th>
						<th scope="col">Fecha de ultima intervención</th>
						<th scope="col">Fecha proxima intervención</th>
						<th scope="col">Ultima Orden de trabajo</th>
						<th scope="col">Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for ruta in system.rutas.all %}
						<tr id="row{{forloop.counter}}" onclick="toggleDetails('details{{forloop.counter}}', this, event)" class="{% if ruta.maintenance_status == 'c' %}table-success{%elif ruta.maintenance_status == 'p' %}table-warning{%elif ruta.maintenance_status == 'e' %}table-secondary{% else %}table-danger{% endif %}">
							<td class="nowrap">{% if ruta.equipo %}{{ ruta.equipo }}{% else %}{{ ruta.system.name }}{% endif %}</td>
							<td class="nowrap">{{ ruta.name }}</td>
							<td>{{ ruta.frecuency }}</td>
							<td>{{ ruta.get_control_display }}</td>
							<td data-cell="Ultima intervención">{{ ruta.daysleft }}</td>
							<td>{{ ruta.intervention_date|date:"d/m/Y" }}</td>
							<td>{% if ruta.ot %}{{ ruta.next_date|date:"d/m/Y" }}{% else %}---{% endif %}</td>
							<td><a href="{{  ruta.ot.get_absolute_url }}"><i class="bi bi-pen">OT - {{ ruta.ot.num_ot }}</i></a></td>
							<td data-cell="Acciones">
								<div class="dropdown">
									<button class="btn status {% if ruta.maintenance_status == 'c' %}finished{%elif ruta.maintenance_status == 'p' %}pending{%elif ruta.maintenance_status == 'e' %}shipped{% else %}close{% endif %} btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
										{% if ruta.maintenance_status == 'c' %}Completado{%elif ruta.maintenance_status == 'p' %}Planeado{%elif ruta.maintenance_status == 'e' %}Sin información{% else %}Retrasado{% endif %}
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										{% if ruta.equipo %}
											<li><a class="dropdown-item" href="{% url 'got:sys-detail-view' system.id ruta.equipo.code %}">Ver detalle</a></li>
										{% endif %}
										<li>
											<button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#crearOtModal{{ ruta.code }}">
												Crear nueva OT
											</button>
										</li>
										<li><a class="dropdown-item" href="{% url 'got:ruta-update' ruta.code %}">Editar</a></li>
										<li><a class="dropdown-item" href="{% url 'got:ruta-delete' ruta.code %}">Eliminar</a></li>
									</ul>
								</div>
							</td>
						</tr>
						
						<div class="modal fade" id="crearOtModal{{ ruta.code }}" tabindex="-1" aria-labelledby="crearOtModalLabel{{ ruta.code }}" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="crearOtModalLabel{{ ruta.code }}">Crear Orden de Trabajo</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										¿Desea crear una orden de trabajo para la rutina <strong>{{ ruta.name }}</strong>?
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
										<a href="{% url 'got:crear_ot_desde_ruta' ruta.code %}" class="btn btn-success">Crear OT</a>
									</div>
								</div>
							</div>
						</div>
	
						<tr id="details{{forloop.counter}}" class="detail-row" style="display:none;">
							<td colspan="9">
								<div>
									<h4>
										Actividades: 
										{% if perms.got.add_equipo %}
											<a href="{% url 'got:task-create' ruta.code %}"><i class="bi bi-clipboard2-plus-fill add-more"></i></a>
										{% endif %}
									</h4>
									{% if ruta.dependencia %}
										Relación con rutina {{ ruta.dependencia.name }}
									{% endif %}
	
									{% if ruta.task_set.all %}
										<ul>
											{% for task in ruta.task_set.all %}
												<li style="margin-bottom: 5px; list-style-type: disc;">{{ task.description }} ({{ task.responsible.first_name }} {{ task.responsible.last_name }})
	
													{% if perms.got.add_equipo %}
														<a href="{% url 'got:update-task' task.id %}"><i class="bi bi-pen"></i></a>
														<a href="{% url 'got:delete-task' task.id %}"><i class="bi bi-file-earmark-minus-fill"></i></a></li>
													{% endif %}
													
												<ul style="list-style-type: none;">
													{% if task.procedimiento %}
													<li><strong>Procedimiento:<br></strong>{{ task.procedimiento|linebreaksbr }}</li>
													{% endif %}
													{% if task.suministros %}
													<li><strong>Equipos, herramientas y consumibles:<br></strong>{{ task.suministros|linebreaksbr }}</li>
													{% endif %}
													{% if task.hse %}
													<li><strong>Precauciones de seguridad:<br></strong>{{ task.hse|linebreaksbr }}</li>
													{% endif %}
												</ul>
											{% endfor %}
										</ul>
										<hr>
									{% else %}
										<p>No hay actividades registradas.</p>
									{% endif %}
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


	<script>
		function toggleDetails(detailId, trigger, event) {
			if (event.target.closest('.dropdown') || event.target.closest('.dropdown-toggle')) {
				return;
			}
	
			var detailRow = document.getElementById(detailId);
			detailRow.style.display = (detailRow.style.display === 'none') ? '' : 'none';
		
			// Cambiar el estilo de la fila para indicar si está expandida o no
			trigger.style.fontWeight = (detailRow.style.display === 'none') ? 'normal' : 'bold';
		}
	</script>