{% extends "got/base_generic.html" %}

{% block head %}Detalle de actividad{% endblock %}

{% block content %}

<div class="container">
    <a class="btn btn-primary" role="button" href="{% url 'got:finish-task' task.id %}">
        Modificar
    </a>
    {%  if request.user.is_staff %}
    <a class="btn btn-primary" role="button" href="{% url 'got:ot-detail' task.ot.num_ot %}">
        OT - {{task.ot.num_ot}}
    </a>
    {% endif %}

<table class="table">
    <tbody>
        <tr>
            <th>Fecha: </th>
            <td>{{task.start_date}}</td>
        </tr>
        <tr>
            <th>Responsable: </th>
            <td>{{task.responsible.first_name}} {{task.responsible.last_name}}</td>
        </tr>
        <tr>
            <th>Estado: </th>
            <td>{% if task.finished %}Completado{%else%}Pendiente{% endif %}</td>
        </tr>
        <tr>
            <th>Descripción: </th>
            <td>{{task.description}}</td>
        </tr> 
        <tr>
            <th>Novedades: </th>
            <td>{{task.news}}</td>
        </tr>         
    </tbody>
</table>

{% if task.evidence %}
    
        <h4>Evidencia de actividad</h4>
        <img src="{{MEDIA_URL}}{{ task.evidence.name }}" style="width: 50%; height: auto;">
    
{% endif %}
</div>


{% endblock %}