{% extends "got/base_generic.html" %}
{% load my_tags %}

{% block header %}Detalle de actividad{% endblock %}

{% block content %}

<div class="container">
    {%  if task.responsible == user or perms.got.add_system %}
        <a class="btn btn-primary" role="button" href="{% url 'got:finish-task' task.id %}">
            Finalizar
        </a>
    {% endif %}
    {% if not request.user|has_group:"serport_members" %}
        <a class="btn btn-primary" role="button" href="{% url 'got:ot-detail' task.ot.num_ot %}">
            OT - {{task.ot.num_ot}}
        </a>
    {% endif %}

<table class="table">
    <tbody>
        <tr>
            <th>Fecha: </th>
            <td>{{task.start_date}}</td>
        </tr>
        <tr>
            <th>Fecha de vencimiento: </th>
            <td>{{task.final_date}}</td>
        </tr>
        <tr>
            <th>Responsable: </th>
            <td>{{task.responsible.first_name}} {{task.responsible.last_name}}</td>
        </tr>
        <tr>
            <th>Estado: </th>
            <td>{% if task.finished %}Completado{%else%}Pendiente{% endif %}</td>
        </tr>
        <tr>
            <th>Sistema: </th>
            <td>{{task.ot.system}}</td>
        </tr> 
        <tr>
            <th>Descripción: </th>
            <td>{{task.description}}</td>
        </tr> 
        <tr>
            <th>Novedades: </th>
            <td>{{task.news}}</td>
        </tr>  
        <tr>
            <th>Procedimiento: </th>
            <td>{{task.procedimiento}}</td>
        </tr>         
        <tr>
            <th>Precauciones de seguridad: </th>
            <td>{{task.hse}}</td>
        </tr>  
        <tr>
            <th>Suministros: </th>
            <td>{{task.suministros}}</td>
        </tr>  
    </tbody>
</table>

{% if task.evidence %}
    
        <h4>Evidencia de actividad</h4>
        <img src="{{ task.evidence.url }}" style="width: 50%; height: auto;">
    
{% endif %}
</div>

{% for i in task.images.all %}
    <img src="{{ i.image.url }}" width=200>
{% endfor %}

<h4>Solicitudes asociadas a la OT - {{ task.ot.num_ot }}</h4>
<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Suministros</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for solicitud in task.ot.solicitud_set.all %}
            <tr>
                <td>{{ solicitud.creation_date|date:"d/m/Y" }}</td>
                <td>{{ solicitud.suministros }}</td>
                <td>{{ solicitud.get_seccion_display }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No hay solicitudes asociadas a esta OT.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>


{% endblock %}