<!DOCTYPE html>
<html>
<head>
    <title>Visualizar Localización</title>
</head>
<body>
    <h1>Detalles de la Localización</h1>
    <p><strong>Nombre:</strong> {{ location.name }}</p>
    <p><strong>Dirección:</strong> {{ location.direccion }}</p>
    <p><strong>Contacto:</strong> {{ location.contact }}</p>
    <p><strong>Teléfono de Contacto:</strong> {{ location.num_contact }}</p>
    <p><strong>Latitud:</strong> {{ location.latitude }}</p>
    <p><strong>Longitud:</strong> {{ location.longitude }}</p>
</body>
</html>
