* {
	font-family: "Poppins", sans-serif;
}

.bottom-line {
	margin-top: 25px;
}

.navbar {
	padding: 2rem;
    line-height: 50px;  	
}

a {
  text-decoration: none; /* Elimina la línea de abajo */
  color: black; /* Color del texto */
}
  
a:hover {
  background-color: yellowgreen; /* Cambia el color del texto en hover */
  color: #fff;
}

table {
  margin-top: 50px;
}

.space {
  margin: 30px 20px;
}

td, th {
  padding: 10px;
}

.circle {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: #e0e0e0;
    border-radius: 50%;
    overflow: hidden;
}

.progress-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 50% 0%, var(--percentage) 0, var(--percentage) 100%, 50% 100%);
    background-color: #007bff;
    transition: var(--percentage) 0.3s ease-in-out;
}

  
