* {
	font-family: "Poppins", sans-serif;
}

.bottom-line {
	margin-top: 25px;
}

a {
  text-decoration: none; /* Elimina la línea de abajo */
  color: black; /* Color del texto */
}
  
a:hover {
  background-color: yellowgreen; /* Cambia el color del texto en hover */
  color: #fff;
}

.space {
  margin: 30px 20px;
}

td, th {
  padding: 10px;
}

.mi-tabla-borde-externo {
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #333; 
  width: 100%;
  border-radius: 10px;
  overflow: hidden; 
}

.mi-tabla-borde-externo th, .mi-tabla-borde-externo td {
  border-bottom: 1px solid #dee2e6;
}

.mi-tabla-borde-externo tr:last-child th, .mi-tabla-borde-externo tr:last-child td {
  border-bottom: none;
}

.radioOptions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.radioOptions label {
  margin-right: 5px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formulario-centrado {
  width: 80%; /* Ancho del formulario */
  margin: 0 auto; /* Centra el formulario horizontalmente */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Opcional: Añade un poco de sombra para resaltar el formulario */
}
.custom-checkbox {
  display: block; /* Asegura que el contenedor de cada checkbox ocupe toda la anchura disponible */
  margin-bottom: 5px; /* Reduce el espacio entre cada checkbox */
}

.custom-checkbox label {
  display: flex;
  align-items: center; /* Alinea verticalmente el checkbox con el texto */
  margin-bottom: 0; /* Elimina o reduce el margen inferior predeterminado */
}

.custom-checkbox input[type="checkbox"] {
  margin-right: 10px; /* Espacio entre el checkbox y el texto */
  margin-bottom: 0px; /* Espacio entre el checkbox y el texto */
}



  
