* {
	font-family: "Poppins", sans-serif;
}

.bottom-line {
	margin-top: 25px;
}

a {
  text-decoration: none; /* Elimina la línea de abajo */
  color: black; /* Color del texto */
}
  
a:hover {
  background-color: yellowgreen; /* Cambia el color del texto en hover */
  color: #fff;
}

table {
  margin-top: 50px;
}

.space {
  margin: 30px 20px;
}

td, th {
  padding: 10px;
}



  
