
<!-- Metadatos  -->
<meta charset="utf-8">
<meta name="author" content="Dylan Medina">
<meta name="description" content="Software de mantenimiento hivik">
<meta name="keywords" content="Serport, Mantenimiento, actividades, activos">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Titulo -->
<title>GOT</title>
<link rel="icon" type="image/png" sizes="32x32" href="https://hivik.s3.us-east-2.amazonaws.com/static/anchor-solid.svg">

<!-- Bootstrap -->
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<!-- Google Fonts Poppins -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        
<!-- CSS -->
<link rel="stylesheet" href="https://hivik.s3.us-east-2.amazonaws.com/static/boostrap/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Anton%7CBaskervville%7CRaleway&display=swap" rel="stylesheet"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>

<style>

    body {
        font-family: "Poppins", sans-serif;
        color: #191645;
        margin: 0;
        box-sizing: border-box;
    }

    /* Barra de navegacion */
    .navbar {
        background-color: #191645;
    }

    .navbar .nav-link {
        color: #fff;
    }

    .active {
        color: #43C6AC !important;
    }

    .nav-link:hover, .nav-link:focus {
        color: #43C6AC;
        background-color: transparent;
    }

    .navbar-toggler-icon {
        background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(255, 255, 255, 0.5)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
    }

    .page-link {
        color: #191645;
    }

    .pagination {
        --bs-pagination-active-bg: #191645;
    }

    h1 {
        color: #191645;
    }

    /* Tablas */
    .table-content {
		border-collapse: collapse;
        border-radius: 5px 5px 0 0;
        margin: 25px 0;
        font-size: 0.9em;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	}

    .table-content thead tr {
        background-color: #191645;
        color: #fff;
        text-align: left;
        font-weight: bold;
    }

    tr[data-href] {
        cursor: pointer;
    }

    .table-content tbody tr {
        border-bottom: 1px solid #ddd;
       
    }

    .table-content tbody tr:hover {
        color: #43C6AC;
    }

    .table-content tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

	.table-content th, .table-content td {
		padding: 8px;
	}

    .table-content td {
        /* word-wrap: break-word; */
		vertical-align: top;
        /* min-width: 500px; */
	}

    .table-content tbody tr:last-of-type {
        border-bottom: 2px solid #43C6AC;
    }

    .nowrap {
        white-space: nowrap;
    }

    .table-text {
        width: 10px;
    }
    
	caption {
		color: white;
		text-align: center;
		background-color:  hsl(0 0% 0%);
		text-transform: uppercase;
		font-weight: 700;
	}

    .table-content tbody tr:hover .status {
        box-shadow: 0 4px 6px 0 rgba(0,0,0,0.34);
    }

    /* Botones */
    aside {
        margin-right: 10px;
    }

	.btn-primary {
		background-color: #43C6AC;
        border-color: #43C6AC;
        color: #191645;
	}

    .btn-primary:hover {
		background-color: #191645;
        border-color: #191645;
        color: #FFF;
	}

    .btn-group {
        margin-top: 5px;
    }

    .input-group {
        min-width: 360px;
    }

    /* Estados */
    .status {
        padding: 0.3rem;
        border-radius: 3rem;
        text-align: center;
        color: #191645;
        font-size: 0.7rem;
    }

    .finished {
        background-color: #86e49d;
    }

    .close {
        background-color: #d893a3;
    }

    .pending {
        background-color: #ebc474;
    }

    .shipped {
        background-color: #6fcaea;
    }

    .dropdown-item:hover {
        background-color: #43C6AC;
        color: #191645;
    }

    td .dropdown-menu {
        min-width: 0;
        font-size: 0.8rem;
    }

    td .dropdown-item {
        padding: 4px 6px;
        font-size: 0.8rem;
    }

    .detail {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        grid-template-areas: 
            "title title title"
            "ot-detail tasks tasks"
            "add-info tasks tasks"
            ". tasks tasks";
    }

    .detail .title {
        margin-top: 10px;
        grid-area: title;
    }

    .detail .ot-detail {
        grid-area: ot-detail;
    }

    .detail .add-info {
        grid-area: add-info;
    }

    .detail .tasks {
        grid-area: tasks;
    }

    .table-info {
        width: 100%;
        margin: 15px 0;
        border-collapse: collapse;
        font-size: 0.8em;
        overflow: hidden;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    }

    .table-info th {
        text-align: left;
        background-color: #2E6E79;
        color: #fff;
        border: 0.2px solid #191645;
        padding: 8px;
    }

    .table-info td {
        padding: 8px;
        border: 0.2px solid #191645;
    }

    .table-info thead tr:first-child th {
        text-align: center;
        background-color: #191645;
        font-weight: bold;
        font-size: 1.2em;
        padding: 10px;
    }

    .table-info thead .add:hover {
        background-color: #43C6AC;
    }

    .table-info tbody tr:hover .status {
        box-shadow: 0 4px 6px 0 rgba(0,0,0,0.34);
    }

    .table-info tbody tr:hover {
        color: #43C6AC;
    }

	@media (max-width: 650px) {

        .btn-group {
            width: 100%;
            height: 80%;
        }

		th {
			display: none;
		}

		td {
			display: grid;
			gap: 0.4rem;
			grid-template-columns: 15ch auto;
			padding: 0.5rem 1rem;
		}

		td:first-child {
			padding-top: 2rem;
		}

		td::before {
			content: attr(data-cell) ": ";
			font-weight: 700;
		}

		td:last-child {
			padding-bottom: 2rem;	
		}
	}

    /* No probado  */

    .bottom-line {
        margin-top: 25px;
    }

    a {
        text-decoration: none; /* Elimina la línea de abajo */
        color: black; /* Color del texto */
    }
    
    a:hover {
        background-color: yellowgreen;
        color: #fff;
    }

    .radioOptions {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .radioOptions label {
        margin-right: 5px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    .form-group input,
    .form-group textarea,
    .form-group select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

</style>