
<!-- Metadatos  -->
<meta charset="utf-8">
<meta name="author" content="Dylan Medina">
<meta name="description" content="Software de mantenimiento hivik">
<meta name="keywords" content="Serport, Mantenimiento, actividades, activos">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Titulo -->
<title>GOT</title>
<link rel="icon" type="image/png" sizes="32x32" href="https://hivik.s3.us-east-2.amazonaws.com/static/anchor-solid.svg">

<!-- Bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<!-- Google Fonts Poppins -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        
<!-- CSS -->
<link rel="stylesheet" href="https://hivik.s3.us-east-2.amazonaws.com/static/boostrap/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Anton%7CBaskervville%7CRaleway&display=swap" rel="stylesheet"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<style>

    :root {
        --color-primary: #191645;
        --color-aux: #0157a4;
        --color-secondary: #43C6AC;

        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #191645;
        --bs-btn-active-border-color: #191645;
    }

    * {
        margin: 0;
        font-family: "Poppins", sans-serif;
        color: var(--color-primary);
        box-sizing: border-box;
    }

    .status {
        padding: 0.3rem;
        border-radius: 3rem;
        text-align: center;
        color: #191645;
        font-size: 0.7rem;
    }

    .finished {
        background-color: #86e49d;
    }

    .close {
        background-color: #d893a3;
    }

    .pending {
        background-color: #ebc474;
    }

    .shipped {
        background-color: #6fcaea;
    }

    .navbar {
        background-color: var(--color-primary);
    }

    .navbar .nav-link, .nav a, .nav button {
        color: #fff;
    }

    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .nav-link:hover, .nav-link:focus {
        color: var(--color-secondary);
        background-color: transparent;
    }

    .navbar-toggler-icon {
        background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(255, 255, 255, 0.5)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
    }

    .nav {
        margin-top: 10px;
        background-color: var(--color-aux);
        border-top: 1px solid var(--color-primary);
    }

    .nav .nav-item:hover {
        color: var(--color-secondary);
        background-color: var(--color-primary);
    }

    .page-link {
        color: var(--color-primary);
    }

    .pagination {
        --bs-pagination-active-bg: var(--color-primary);
    }

    h1 {
        margin-top: 15px; 
        color: var(--color-primary);
    }

    .container {
        padding-right: 20px;
        padding-left: 15px;
    }

    tr[data-href] {
        cursor: pointer;
    }

    .table-list {
		border-collapse: collapse;
        margin: 20px 0;
        font-size: 0.85em;
        overflow: visible;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	}

    .table-list thead tr:first-child th {
        background-color: var(--color-primary);
        padding: 10px;
    }

    .sys .table-list {
        margin: 0;
    }

    .main-asset .table-list thead tr:first-child th, .main-info-sys .table-list thead tr:first-child th {
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
    }

    .table-list thead .add:hover {
        color: #43C6AC;
    }

    .table-list thead tr th {
        background-color: var(--color-aux);
        color: #fff;
    }

	.table-list th, .table-list td {
		padding: 8px;
	}

    .table-list td {
	    vertical-align: top;
	}

    .table-list tbody tr {
        border-bottom: 1px solid #ddd;
    }

    

    .table-list tbody tr:hover td, .table-list tbody tr:hover td strong {
        color: var(--color-secondary);
    }

    .main-info-sys .table-list tbody tr:hover td {
        color: var(--color-primary);
    }

    .table-list tbody tr:nth-of-type(even) {
        background-color: #E8E8EC;
    }

    .table-list tbody tr:last-of-type {
        border-bottom: 2px solid var(--color-secondary);
    }

    .table-list tbody tr:hover .status {
        box-shadow: 0 4px 6px 0 rgba(0,0,0,0.34);
    }

    .nowrap {
        white-space: nowrap;
    }
    
	caption {
		color: white;
		text-align: center;
		background-color:  hsl(0 0% 0%);
		text-transform: uppercase;
		font-weight: 700;
	}

	.btn-primary {
		background-color: var(--color-secondary);
        border-color: var(--color-secondary);
        color: var(--color-primary);
	}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
		background-color: var(--color-primary);
        border-color: var(--color-primary);
        color: #FFF;
	}

    .btn-group {
        margin-top: 5px;
    }

    .input-group {
        min-width: 360px;
    }

    .dropdown-item:hover {
        background-color: var(--color-secondary);
        color: var(--color-primary);
    }

    td .dropdown-menu {
        min-width: 0;
        font-size: 0.8rem;
    }

    td .dropdown-item {
        padding: 4px 6px;
    }

    .detail {
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        grid-template-areas: 
            "title title title"
            "ot-detail tasks tasks"
            "add-info tasks tasks"
            ". tasks tasks";
    }

    .detail .title {
        margin-top: 10px;
        grid-area: title;
    }

    .detail .ot-detail {
        grid-area: ot-detail;
    }

    .detail .add-info {
        grid-area: add-info;
    }

    .detail .tasks {
        grid-area: tasks;
    }   

    .table-detail {
        width: 100%;
    }

    .main-asset {
        margin: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        grid-template-areas: 
            "title title title"
            "sistemas sistemas detail"
            "ruta ruta detail";
            /* ". tasks tasks"; */
    }

    .main-asset .title-asset {
        margin-top: 10px;
        margin-right: 20px;
        grid-area: title;
        border-bottom: 1px solid #191645;
    }

    .main-asset .info-asset {
        margin-right: 20px;
        grid-area: detail;
    }

    .main-asset .sistemas {
        margin-right: 20px;
        grid-area: sistemas;
    }

    .main-asset .rutinas {
        margin-right: 20px;
        grid-area: ruta;
    }

    .add-sys {
        background-color: transparent;
        color: #fff;
        border: none;
        margin-left: 15px;
    }

    .add-sys:hover {
        color: #43c6ac;
    }

    .add-more {
        background-color: transparent;
        color: var(--color-primary);
        border: none;
        margin-left: 15px;
    }

    .add-more:hover {
        color: #43c6ac;
    }

    #asset { 
        width: 350px;
        height: 300px; 
        object-fit: cover; 
    }   

    .info-special {
        text-align: center;
        background-color: #191645;
        color: #fff;
        font-weight: bold;
        font-size: 1.2em;
        padding: 10px;
    }

    .sys {
        margin: 15px;
        display: grid;
        grid-template-columns: 0.6fr 1.2fr 1.2fr;
        gap: 10px;
        grid-template-areas: 
            "title-sys title-sys title-sys"
            "nav-sys main-info-sys main-info-sys"
            "nav-sys main-info-sys main-info-sys"
            ". main-info-sys main-info-sys";
    }

    .title-sys {
        grid-area: title-sys;
    }

    .nav-sys {
        grid-area: nav-sys;
        height: 100%;
        border: 1px solid #191645;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        
    }

    .main-info-sys {
        grid-area: main-info-sys;
    }

    .timeline {
        /* margin: 20px; */
        padding: 0;
    }

    .list-group-item {
        margin-bottom: 5px;
        border-left: 3px solid #007BFF;  /* Cambia el color según el estado o preferencia */
    }

    .list-group-item-action:hover {
        background-color: #f8f9fa;
        border-left: 3px solid #0056b3;
    }

    .nav-sys ul {
        text-align: center;
        padding-left: 0;
    }

    h5 {
        margin: 0;
    }

    .nav-sys li:first-child {
        border-radius: 10px 10px 0 0;
    }

    .sys .tit {
        background-color: #ddd;
    }

    .nav-sys li {
        list-style: none;
        padding-top: 6px;
        padding-bottom: 6px;
        border-bottom: 1px solid #bbb;
        /* margin-bottom: 5px; */
    }

    .sys li {
        list-style: none;
    }

    .detail-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .detail-key {
        flex: 1;
        text-align: left;
        font-weight: bold; /* Hace que la clave sea negrita */
    }

    .detail-value {
        flex: 2;
        text-align: left; /* Alinea los valores a la izquierda */
    }

    .detail-item {
        margin-bottom: 10px;
    }

    ul.card-text {
        padding: 0;
        list-style: none; /* Elimina los marcadores de lista */
    }

    .card h4 {
        margin-bottom: 0;
    }

    .details-container {
        display: flex;
        justify-content: space-between;
    }

    .details-column {
        flex: 1;
    }

    .card {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    }

    .card-text {
        font-size: 0.9rem; /* Disminuye el tamaño de la letra */
    }

    .image-container {
        height: 480px; /* Altura fija del contenedor */
        overflow: hidden; /* Oculta cualquier desbordamiento */
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f8f9fa;
        border: 2px solid #000;
        border-radius: 10px;
        padding: 0;

    }

    .image-container img {
        height: 100%; /* La imagen se ajusta al 100% de la altura del contenedor */
        width: auto; /* Mantiene la proporción de la imagen */
        object-fit: contain;
        /* border-radius: 10px; */
        
    }


    @media (max-width: 780px) {

        .main-asset {
            margin: 10px;
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            grid-template-areas: 
                "title"
                "sistemas"
                "ruta"
                "detail";
        }
    }

	@media (max-width: 650px) {

        .detail {
            grid-template-columns: 90vw;
            gap: 10px;
            grid-template-areas: 
                "title"
                "ot-detail"
                "tasks"
                "add-info";
        }

        .main-asset .nav {
            flex-direction: column;
        }

        .btn-group {
            width: 100%;
            height: 80%;
        }

        .table-list {
            width: 100%;
        }

		.table-list th, .info-asset .table-info th {
			display: none;
		}

        .table-detail thead tr:first-child th {
			display: table-cell;
		} 

		.table-list td {
			display: grid;
			gap: 0.4rem;
			grid-template-columns: 15ch auto;
			padding: 0.5rem 1rem;
            border-bottom: none;
		}

		.table-list td:first-child {
			padding-top: 1.8rem;
		}

		.table-list td[data-cell]::before {
			content: attr(data-cell) ": ";
			font-weight: 700;
		}

        .no-display {
            display: none;
        }

        .table-list tr .visible {
            display: table-cell;
        }

		.table-list td:last-child {
			padding-bottom: 2rem;	
		}
	}

    /* No probado  */

    .bottom-line {
        margin-top: 25px;
    }

    a {
        text-decoration: none; /* Elimina la línea de abajo */
        color: #191645; /* Color del texto */
    }
    
    a:hover {
        background-color: transparent;
        color: #43C6AC;
    }

    .radioOptions {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .radioOptions label {
        margin-right: 5px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    .form-group input,
    .form-group textarea,
    .form-group select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

</style>