{% load my_tags %}
{% obtener_asset_del_supervisor as asset_del_supervisor %}

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <!-- Logo de serport -->
        <img src="https://hivik.s3.us-east-2.amazonaws.com/static/Logo.png" width="150px">
        <!-- Boton para barra de navegación responsive -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Enlaces de navegación -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- Muestra el enlace directo al equipo del supervisor -->
                {% if request.user|has_group:"maq_members" %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == asset_del_supervisor.get_absolute_url %}active{% endif %}" href="{{ asset_del_supervisor.get_absolute_url }}">
                            {{ asset_del_supervisor.name }}
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'asset-list' %}active{% endif %}" href="{% url 'got:asset-list' %}">
                            Equipos
                        </a>
                    </li>
                {% endif %}

                <!-- Vistas publicas -->
                {% if not request.user|has_group:"gerencia" %}
                <li class="nav-item">
                    <a class="nav-link  {% if request.resolver_match.url_name == 'my-tasks' %}active{% endif %}" href="{% url 'got:my-tasks' %}">
                        Actividades
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  {% if request.resolver_match.url_name == 'ot-list' %}active{% endif %}" href="{% url 'got:ot-list' %}">
                        Ordenes de trabajo
                    </a>
                </li>
                {% endif %}

                {% if not request.user|has_group:"serport_members" %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'failure-report-list' %}active{% endif %}" href="{% url 'got:failure-report-list' %}">
                            Reportes de fallas
                        </a>
                    </li>
                {% endif %}

                <!-- Opciones limitadas para supervisores de serport -->
                {% if request.user|has_group:"super_members" %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'ruta-list' %}active{% endif %}" href="{% url 'got:ruta-list' %}">
                            Rutinas
                        </a>
                    </li>
                {% endif %}
                {% if request.user|has_group:"super_members" or request.user|has_group:"gerencia" %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'got:dashboard' %}">
                            Indicadores
                        </a>
                    </li>
                {% endif %}
                {% if request.user|has_group:"super_members" or request.user|has_group:"gerencia" %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'operation-list' %}active{% endif %}" href="{% url 'got:operation-list' %}">
                            Operaciones
                        </a>
                    </li>
                {% endif %}

              </ul>

              <!-- Boton de logout -->
            <form class="d-flex" action="{% url 'logout' %}" method="post">{% csrf_token %}
                
                <span class="nav-link">{{ user.get_username }}</span>
               
                <button class="btn btn-outline-danger btn-sm" type="submit">
                    <i class="bi bi-box-arrow-right"></i>
                </button>
            </form>
        </div>
      </div>
</nav>
